Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

Update block rule names in AST test files.
  ftml/test/list-block-empty-fail.json
  ftml/test/list-block-fail.json
  ftml/test/list-block-non-item-fail.json
  ftml/test/list-block-non-list-fail.json
  ftml/test/table-advanced-fail-cell.json
  ftml/test/table-advanced-fail-table-cell.json
Owners: @ammongit

Bump ftml version to v1.5.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Remove old pylint rule.
  locales/.pylintrc
Owners: none

Skip ignored encoding lint.
  locales/.pylintrc
Owners: none

Update lint dependency versions.
  locales/messages/requirements-dev.txt
Owners: none

Split dependency installation into separate steps.
  .github/workflows/locales.yaml
Owners: @ammongit

repurpose site tags to validate page tags
  web/php/Actions/WikiPageAction.php
  web/php/DB/SiteTag.php
  web/php/Modules/ManageSite/ManageSiteGeneralModule.php
  web/php/Modules/PageTags/PageTagsModule.php
  web/templates/modules/ManageSite/ManageSiteGeneralModule.tpl
Owners: @pxdnbluesoul

Changed SiteTags to AllowedTags and Removed Tag Size Limit
  install/local/dev/php-fpm/Dockerfile
  web/database/migrations/2021_07_27_174756_allowed-tags-settings.php
  web/php/Actions/ManageSiteAction.php
  web/php/Actions/WikiPageAction.php
  web/php/DB/AllowedTags.php
  web/php/DB/AllowedTagsBase.php
  web/php/DB/AllowedTagsPeer.php
  web/php/DB/AllowedTagsPeerBase.php
  web/php/DB/SiteBase.php
  web/php/DB/SiteTag.php
  web/php/Modules/ManageSite/ManageSiteGeneralModule.php
  web/php/Modules/ManageSite/ManageSiteWelcomeModule.php
  web/php/Modules/PageTags/PageTagsModule.php
  web/templates/modules/ManageSite/ManageSiteGeneralModule.tpl
Owners: @pxdnbluesoul

Update PageTagsModule.php
  web/php/Modules/PageTags/PageTagsModule.php
Owners: @pxdnbluesoul

repurpose site tags to validate page tags
  web/php/Actions/WikiPageAction.php
  web/php/DB/SiteTag.php
Owners: @pxdnbluesoul

Add default to allowed tags bool
  web/database/migrations/2021_07_27_174756_allowed-tags-settings.php
Owners: @pxdnbluesoul

Minor Fix
  web/php/Modules/PageTags/PageTagsModule.php
Owners: @pxdnbluesoul

Removing Duplicate Code
  web/php/Actions/WikiPageAction.php
Owners: @pxdnbluesoul

Revert file modes for empty gitignore files.
  web/storage/framework/sessions/.gitignore
  web/storage/logs/.gitignore
Owners: none

...Missed a part.
  web/templates/modules/ManageSite/ManageSiteGeneralModule.tpl
Owners: @pxdnbluesoul

Changing Error Message
  web/php/Actions/WikiPageAction.php
Owners: @pxdnbluesoul

Removing Site Tags Notice From Manage Site
  web/templates/modules/ManageSite/ManageSiteGeneralModule.tpl
Owners: @pxdnbluesoul

Use booleans instead of strings.
  web/php/Actions/ManageSiteAction.php
Owners: @pxdnbluesoul

Fixing error message (again).
  web/php/Actions/WikiPageAction.php
Owners: @pxdnbluesoul

Adding comment + changing conditional slightly
  web/php/Actions/ManageSiteAction.php
  web/php/Actions/WikiPageAction.php
Owners: @pxdnbluesoul

Remove executable permissions from .gitignore file.
  web/bootstrap/cache/.gitignore
Owners: none

Add types to addTrailingNewline().
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Remove janky ASCII-ification.
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Use unicode-supportive lowercase function.
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Add types and function header for toUnixName().
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Add intl extension to PHP containers.
  install/aws/dev/docker/php-fpm/Dockerfile
  install/aws/prod/docker/php-fpm/Dockerfile
  install/local/dev/php-fpm/Dockerfile
Owners: @pxdnbluesoul

Add comments for each step in toUnixName().
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Perform unicode normalization prior to case folding.
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Combine and better document regular expressions.
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Use L instead of Ll.
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Clarify main replacement comment.
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Fix php intl extension installation.
  install/aws/dev/docker/php-fpm/Dockerfile
  install/aws/prod/docker/php-fpm/Dockerfile
  install/local/dev/php-fpm/Dockerfile
Owners: @pxdnbluesoul

Fix Normalizer import.
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Add unicode flag to all normalization regular expressions.
  web/php/Utils/WDStringUtils.php
Owners: @pxdnbluesoul

Update general dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Upgrade wikidot-normalize dependency version.
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Bump ftml version to v1.5.1
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Remove unreachable break.
  web/php/Utils/WikiFlowController.php
Owners: @pxdnbluesoul

Update wikidot-normalize.
  ftml/Cargo.lock
Owners: @ammongit

Bump ftml version to v1.5.2
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
