Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

doc pass
  client/modules/ftml-components/src/components/tabview/tabview.ts
Owners: @Monkatraz, @rossjrw

fix tabview formatting
  client/modules/ftml-components/src/components/tabview/_tabview.scss
Owners: @Monkatraz, @rossjrw

allow tab panel to be focused
  client/modules/ftml-components/src/components/tabview/_tabview.scss
Owners: @Monkatraz, @rossjrw

fix box-sizing not inheriting
  client/modules/ftml-components/src/_base.scss
Owners: @Monkatraz, @rossjrw

[WJ-204] make margins consistent with children
  client/modules/ftml-components/src/components/tabview/_tabview.scss
Owners: @Monkatraz, @rossjrw

Add Embed::GithubGist.
  ftml/src/parsing/rule/impls/block/blocks/embed.rs
  ftml/src/tree/embed.rs
Owners: @ammongit

nuke webpack, build legacy using esbuild
  web/.editorconfig
  web/.eslintrc.js
  web/.eslintrc.json
  web/.prettierignore
  web/.prettierrc.toml
  web/conf/webpack.common.js
  web/conf/webpack.dev.js
  web/conf/webpack.prod.js
  web/package.json
  web/pnpm-lock.yaml
  web/scripts/build-legacy.js
  web/tsconfig.json
  web/tsconfig.legacy.json
  web/web/files--common/javascript/OZONE/dialog.ts
  web/web/files--common/javascript/OZONE/dialogs.ts
  web/web/files--common/javascript/Wikijump/Editor.ts
  web/web/files--common/javascript/Wikijump/page.ts
  web/webpack.mix.js
Owners: @rossjrw

fix dep location
  web/package.json
Owners: none

change nginx dockerfile to use pnpm
  install/local/dev/nginx/Dockerfile
Owners: @pxdnbluesoul

export iife with window.wikijump globals
  web/scripts/build-legacy.js
  web/web/files--common/javascript/index.ts
Owners: @rossjrw

bind nginx web/web as well
  install/local/dev/docker-compose.dev.yaml
Owners: @pxdnbluesoul

add scripts to simplify dev and build processes
  web/.gitignore
  web/nabs.yml
  web/package.json
  web/pnpm-lock.yaml
  web/scripts/build-legacy.js
Owners: none

remove old JS workflow
  .github/workflows/javascript.yaml
Owners: none

update old esbuild commits
  web/nabs.yml
  web/package.json
  web/pnpm-lock.yaml
  web/tests/js/OZONE/utils.test.ts
  web/tsconfig.json
  web/tsconfig.legacy.json
Owners: none

add document for helping with frontend dev work
  docs/frontend-development.md
Owners: none

general fix pass
  web/.gitignore
  web/.prettierrc.toml
  web/.stylelintrc.yaml
  web/nabs.yml
  web/package.json
  web/package.laravel.json
  web/svelte.config.cjs
Owners: none

Add Embed::GitlabSnippet.
  ftml/src/parsing/rule/impls/block/blocks/embed.rs
  ftml/src/tree/embed.rs
Owners: @ammongit

fix merge screwup
  install/local/dev/docker-compose.dev.yaml
Owners: @pxdnbluesoul

formatting module
  formatting/.eslintrc.yaml
  formatting/.gitignore
  formatting/.prettierignore
  formatting/.stylelintrc.json
  formatting/README.md
  formatting/package.json
  formatting/pnpm-lock.yaml
  formatting/prettier.config.js
Owners: none

add missing peers
  formatting/package.json
  formatting/pnpm-lock.yaml
Owners: none

make client monorepo use formatting module
  client/.eslintrc.js
  client/.prettierignore
  client/.prettierrc.toml
  client/.stylelintrc.yaml
  client/misc/templates/module-template/package.json
  client/modules/api/package.json
  client/modules/cm-espells/package.json
  client/modules/cm-lang-ftml/package.json
  client/modules/codemirror/package.json
  client/modules/components/package.json
  client/modules/css/package.json
  client/modules/ftml-components/package.json
  client/modules/ftml-wasm-worker/package.json
  client/modules/ftml-wasm/package.json
  client/modules/prism/package.json
  client/modules/sheaf/package.json
  client/modules/state/package.json
  client/modules/threads-worker-module/package.json
  client/modules/util/package.json
  client/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

make web/ use new formatting module
  client/package.json
  client/pnpm-lock.yaml
  web/.editorconfig
  web/.eslintrc.js
  web/.prettierignore
  web/.prettierrc.toml
  web/.styleci.yml
  web/.stylelintrc.yaml
  web/package.json
  web/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

remove unneeded file
  web/svelte.config.cjs
Owners: none

Add Element::Embed.
  ftml/src/render/html/element/embed.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Add direct_link() method.
  ftml/src/render/text/elements.rs
  ftml/src/tree/embed.rs
Owners: @ammongit

fix cmds in dockerfiles
  install/aws/dev/docker/nginx/Dockerfile
  install/local/dev/nginx/Dockerfile
Owners: @pxdnbluesoul

fix command
  web/scripts/build-legacy.js
Owners: none

whoops still the wrong command
  web/scripts/build-legacy.js
Owners: none

move formatting/ into .config/formatting
  .config/formatting/.eslintrc.yaml
  .config/formatting/.gitignore
  .config/formatting/.prettierignore
  .config/formatting/.stylelintrc.json
  .config/formatting/README.md
  .config/formatting/package.json
  .config/formatting/pnpm-lock.yaml
  .config/formatting/prettier.config.js
  client/package.json
  client/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

make sure to install formatting deps
  .github/workflows/client.yaml
Owners: @Monkatraz, @rossjrw

Add stubs for Embed variants.
  ftml/src/render/html/element/embed.rs
Owners: @ammongit

revert unified formatting >:(
  .config/formatting/.gitignore
  .config/formatting/.prettierignore
  .config/formatting/.stylelintrc.json
  .config/formatting/README.md
  .config/formatting/package.json
  .config/formatting/pnpm-lock.yaml
  .config/formatting/prettier.config.js
  client/.eslintrc.yaml
  client/.pretterrc.yaml
  client/.stylelintrc.yaml
  client/package.json
  client/pnpm-lock.yaml
  web/.eslintrc.yaml
  web/.pretterrc.yaml
  web/.stylelintrc.yaml
  web/package.json
  web/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

fix workflow
  .github/workflows/client.yaml
Owners: @Monkatraz, @rossjrw

fix pathing
  client/.eslintrc.yaml
  web/.eslintrc.yaml
Owners: @Monkatraz, @rossjrw

add missing prettierignores
  client/.prettierignore
  web/.prettierignore
Owners: @Monkatraz, @rossjrw

get everything finally working hopefully
  client/.eslintrc.yaml
  client/.prettierrc.yaml
  client/web/dev-sandbox/package.json
  client/web/docs/package.json
  web/.eslintrc.yaml
  web/.prettierrc.yaml
  web/.styleci.yml
Owners: @Monkatraz, @rossjrw

pin vite because my sanity is decreasing
  client/package.json
  client/pnpm-lock.yaml
  web/.editorconfig
  web/package.json
  web/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

add missing deps
  web/package.json
  web/pnpm-lock.yaml
Owners: none

update non-vite deps
  client/modules/codemirror/package.json
  client/modules/components/package.json
  client/modules/ftml-components/package.json
  client/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

update deps, again
  client/modules/cm-espells/package.json
  client/modules/cm-lang-ftml/package.json
  client/modules/codemirror/package.json
  client/modules/components/package.json
  client/modules/sheaf/package.json
  client/modules/state/package.json
  client/package.json
  client/pnpm-lock.yaml
  client/web/dev-sandbox/package.json
  web/package.json
  web/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
