Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

more dumb workarounds
  client/modules/cm-espells/src/espells/index.ts
  client/modules/cm-lang-ftml/src/content/index.ts
  client/modules/ftml-wasm-worker/src/ftml.ts
  client/scripts/vite-pack.js
Owners: @Monkatraz, @rossjrw

fix missing deps
  client/modules/cm-espells/package.json
  client/modules/cm-lang-ftml/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

make externals match correctly
  client/scripts/vite-pack.js
Owners: @Monkatraz, @rossjrw

Add "is" attribute to generated HTML tags.
  ftml/src/render/html/element/collapsible.rs
  ftml/src/render/html/element/container.rs
  ftml/src/render/html/element/footnotes.rs
  ftml/src/render/html/element/iframe.rs
  ftml/src/render/html/element/image.rs
  ftml/src/render/html/element/input.rs
  ftml/src/render/html/element/link.rs
  ftml/src/render/html/element/list.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/html/element/table.rs
  ftml/src/render/html/element/text.rs
  ftml/src/render/html/element/toc.rs
  ftml/src/render/html/element/user.rs
Owners: @ammongit

vite-pack respects scope
  client/scripts/vite-pack.js
Owners: @Monkatraz, @rossjrw

second cleanup pass
  client/misc/docs/modules.md
  client/modules/codemirror/README.md
  client/modules/css/README.md
  client/modules/prism/README.md
  client/modules/state/README.md
  client/modules/util/README.md
  client/pnpm-lock.yaml
  client/web-test-runner.config.js
  client/web/dev-sandbox/package.json
  client/web/dev-sandbox/src/static/lib/App.svelte
  client/web/docs/typedoc.cjs
Owners: @Monkatraz, @rossjrw

fix mass replace error
  client/modules/components/tests/tabview-stub.ts
Owners: @Monkatraz, @rossjrw

repack ftml
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
Owners: @Monkatraz, @rossjrw

fix failed ftml test
  client/modules/ftml-wasm/tests/ftml.ts
Owners: @Monkatraz, @rossjrw

add some package details to ftml-wasm
  client/modules/ftml-wasm/README.md
  client/modules/ftml-wasm/package.json
Owners: @Monkatraz, @rossjrw

add script for publishing a package
  client/README.md
  client/nabs.yml
  client/package.json
  client/scripts/publish.js
Owners: @Monkatraz, @rossjrw

mroe detailed publish info
  client/README.md
Owners: @Monkatraz, @rossjrw

fix import
  client/scripts/publish.js
Owners: @Monkatraz, @rossjrw

fix exports in vite-pack
  client/scripts/vite-pack.js
Owners: @Monkatraz, @rossjrw

bump ftml-wasm
  client/modules/ftml-wasm/package.json
Owners: @Monkatraz, @rossjrw

bump util
  client/modules/util/README.md
  client/modules/util/package.json
Owners: @Monkatraz, @rossjrw

bump threads-worker-module
  client/modules/threads-worker-module/README.md
  client/modules/threads-worker-module/package.json
Owners: @Monkatraz, @rossjrw

bump ftml-wasm-worker
  client/modules/ftml-wasm-worker/README.md
  client/modules/ftml-wasm-worker/package.json
Owners: @Monkatraz, @rossjrw

get ftml-wasm-worker working in CJS
  client/modules/cm-espells/src/espells/index.ts
  client/modules/cm-lang-ftml/src/content/index.ts
  client/modules/ftml-wasm-worker/package.json
  client/modules/ftml-wasm-worker/src/ftml.ts
  client/modules/threads-worker-module/package.json
  client/modules/util/package.json
  client/modules/util/src/index.ts
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

beautify logs, make publish ask if you're sure
  client/nabs.yml
  client/package.json
  client/scripts/pretty-logs.js
  client/scripts/publish.js
  client/scripts/vite-pack.js
Owners: @Monkatraz, @rossjrw

use SOLID LINES instead of dashes
  client/scripts/pretty-logs.js
Owners: @Monkatraz, @rossjrw

init changesets
  client/.changeset/config.json
  client/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

add neato publish-all script
  client/package.json
  client/pnpm-lock.yaml
  client/scripts/pretty-logs.js
  client/scripts/publish-all.js
  client/scripts/publish.js
  client/scripts/vite-pack.js
Owners: @Monkatraz, @rossjrw

adjust linebreak
  client/scripts/publish-all.js
Owners: @Monkatraz, @rossjrw

add commands for versioning
  client/nabs.yml
  client/package.json
Owners: @Monkatraz, @rossjrw

set base branch
  client/.changeset/config.json
Owners: @Monkatraz, @rossjrw

dynamically import the wasmURL
  client/modules/ftml-wasm/src/base.ts
Owners: @Monkatraz, @rossjrw

update lock
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

strip pnpm prefix differently
  client/scripts/vite-pack.js
Owners: @Monkatraz, @rossjrw

add changeset
  client/.changeset/blue-rats-report.md
Owners: @Monkatraz, @rossjrw

ignore unpublished packages
  client/.changeset/config.json
Owners: @Monkatraz, @rossjrw

update whitespace
  client/modules/components/package.json
Owners: @Monkatraz, @rossjrw

apply changeset
  client/.changeset/blue-rats-report.md
  client/modules/ftml-wasm-worker/CHANGELOG.md
  client/modules/ftml-wasm-worker/package.json
  client/modules/ftml-wasm/CHANGELOG.md
  client/modules/ftml-wasm/package.json
Owners: @Monkatraz, @rossjrw

Revert "strip pnpm prefix differently"
  client/scripts/vite-pack.js
Owners: @Monkatraz, @rossjrw

fix chdir not going into built package
  client/scripts/publish-all.js
Owners: @Monkatraz, @rossjrw

Use single-nested list blocks in docs.
  ftml/docs/Blocks.md
Owners: @ammongit

Add missing period.
  ftml/docs/Blocks.md
Owners: @ammongit

fix exclusion
  client/scripts/vite-config.js
Owners: @Monkatraz, @rossjrw

fix formatting
  locales/en.yaml
Owners: none

add missing warnings from FTML
  client/modules/cm-lang-ftml/src/lint.ts
  locales/en.yaml
Owners: @Monkatraz, @rossjrw

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
