Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

Add multiple table AST test.
  ftml/test/table-simple-multiple.html
  ftml/test/table-simple-multiple.json
  ftml/test/table-simple-multiple.txt
Owners: @ammongit

Add nested elements AST test for tables.
  ftml/test/table-simple-elements.html
  ftml/test/table-simple-elements.json
  ftml/test/table-simple-elements.txt
Owners: @ammongit

Add fail AST tests for simple table.
  ftml/test/table-simple-fail-multiple.html
  ftml/test/table-simple-fail-multiple.json
  ftml/test/table-simple-fail-multiple.txt
  ftml/test/table-simple-fail-paragraph.html
  ftml/test/table-simple-fail-paragraph.json
  ftml/test/table-simple-fail-paragraph.txt
  ftml/test/table-simple-fail.html
  ftml/test/table-simple-fail.json
  ftml/test/table-simple-fail.txt
Owners: @ammongit

Run cargo fmt.
  ftml/src/parsing/rule/impls/table.rs
Owners: @ammongit

Bump ftml version to v1.4.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Update vendored ftml files.
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
Owners: @Monkatraz, @rossjrw

Add trailing token fail AST test.
  ftml/test/table-simple-fail-trailing.html
  ftml/test/table-simple-fail-trailing.json
  ftml/test/table-simple-fail-trailing.txt
Owners: @ammongit

Have parse_cell_start() return Ok<Option<_>>.
  ftml/src/parsing/rule/impls/table.rs
Owners: @ammongit

Remove now-unused NotImplemented parser warning type.
  ftml/src/parsing/exception.rs
Owners: @ammongit

Fix typo.
  ftml/src/render/html/attributes.rs
Owners: @ammongit

Add comments for attr!() macros.
  ftml/src/render/html/attributes.rs
Owners: @ammongit

Add comments to table attr!().
  ftml/src/render/html/element/table.rs
Owners: @ammongit

Add trailing newlines to files.
  ftml/test/collapsible-uppercase.html
  ftml/test/image-attributes.html
Owners: @ammongit

Add DEADCODE entry for WikidotAdmin/ManagerUsersModule.
  web/DEADCODE.md
Owners: none

a m p e r s a n d s
  install/aws/dev/docker/php-fpm/Dockerfile
Owners: @pxdnbluesoul

migrate espells to its own package
  client/modules/cm-espells/package.json
  client/modules/espells/LICENSE
  client/modules/espells/README.md
  client/modules/espells/package.json
  client/modules/espells/src/aff/affix.ts
  client/modules/espells/src/aff/casing.ts
  client/modules/espells/src/aff/compound-pattern.ts
  client/modules/espells/src/aff/compound-rule.ts
  client/modules/espells/src/aff/conv-table.ts
  client/modules/espells/src/aff/index.ts
  client/modules/espells/src/aff/phonet-table.ts
  client/modules/espells/src/aff/rep-pattern.ts
  client/modules/espells/src/aff/types.d.ts
  client/modules/espells/src/constants.ts
  client/modules/espells/src/dic/index.ts
  client/modules/espells/src/dic/word.ts
  client/modules/espells/src/index.ts
  client/modules/espells/src/lookup/decompose.ts
  client/modules/espells/src/lookup/forms.ts
  client/modules/espells/src/lookup/index.ts
  client/modules/espells/src/lookup/lk-word.ts
  client/modules/espells/src/permutations.ts
  client/modules/espells/src/plist.ts
  client/modules/espells/src/reader.ts
  client/modules/espells/src/suggest/index.ts
  client/modules/espells/src/suggest/ngram.ts
  client/modules/espells/src/suggest/phonet.ts
  client/modules/espells/src/suggest/scores.ts
  client/modules/espells/src/suggest/suggestion.ts
  client/modules/espells/src/trie.ts
  client/modules/espells/src/util.ts
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

update espells
  client/modules/cm-espells/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

Add rendering for Element::TableItem.
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
Owners: @ammongit

Update dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Add Element::TableItem variant.
  ftml/src/tree/element.rs
  ftml/src/tree/table.rs
Owners: @ammongit

Add table block rule stubs.
  ftml/src/parsing/rule/impls/block/blocks/mod.rs
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Add helper function for table block rule parsing.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Call helper function parse_block() for rules.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Fix parse_block() output.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Add new parser warnings for tables.
  ftml/src/parsing/exception.rs
Owners: @ammongit

Build table and table rows.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Add table block rules to mapping.
  ftml/src/parsing/rule/impls/block/blocks/mod.rs
  ftml/src/parsing/rule/impls/block/mapping.rs
Owners: @ammongit

Change macro separator to ;
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Allow optional trailing comma to macro.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Create generic parse_cell() function.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Add remove() method for AttributeMap.
  ftml/src/tree/attribute/mod.rs
Owners: @ammongit

Build table cell.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Remove unused function arguments.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Add trailing comma in assert!().
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Add warning for empty tables.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Add in_table flag to parser.
  ftml/src/parsing/parser.rs
Owners: @ammongit

Add in_table_row flag to parser.
  ftml/src/parsing/parser.rs
Owners: @ammongit

Remove flag assertions.
  ftml/src/parsing/parser.rs
Owners: @ammongit

Add checks for table block rule status.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Add ParserWrap for table.
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit
