Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

get proxying the mock API working
  client/modules/api/mockoon/mockoon-api.json
  client/modules/api/src/api.ts
  client/pnpm-lock.yaml
  client/scripts/vite-config.js
  client/web/dev-sandbox/package.json
  client/web/dev-sandbox/src/static/lib/index.ts
Owners: @Monkatraz, @rossjrw

Create stubs for rendering math (HTML).
  ftml/src/render/html/element/math.rs
Owners: @ammongit

Return results.
  ftml/src/render/html/element/math.rs
Owners: @ammongit

Add HTML rendering for math, both variants.
  ftml/src/render/html/element/math.rs
Owners: @ammongit

Trim LaTeX source in inline math rule.
  ftml/src/parsing/rule/impls/math.rs
Owners: @ammongit

Add first math-inline test.
  ftml/test/math-inline.html
  ftml/test/math-inline.json
  ftml/test/math-inline.txt
Owners: @ammongit

Add inline math fail AST test.
  ftml/test/math-inline-fail.html
  ftml/test/math-inline-fail.json
  ftml/test/math-inline-fail.txt
Owners: @ammongit

Add multiple inline math AST test.
  ftml/test/math-inline-multiple.html
  ftml/test/math-inline-multiple.json
  ftml/test/math-inline-multiple.txt
Owners: @ammongit

Add syntax error AST test for inline math.
  ftml/test/math-inline-syntax.html
  ftml/test/math-inline-syntax.json
  ftml/test/math-inline-syntax.txt
Owners: @ammongit

Add newline after equation number.
  ftml/src/render/text/elements.rs
Owners: @ammongit

Make math name optional.
  ftml/src/parsing/rule/impls/block/blocks/math.rs
  ftml/src/render/html/element/math.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Fail [[math]] if it's empty.
  ftml/src/parsing/rule/impls/block/blocks/math.rs
Owners: @ammongit

Trim LaTeX block body.
  ftml/src/parsing/rule/impls/block/blocks/math.rs
Owners: @ammongit

Add [[math]] AST tests.
  ftml/test/math-block-fail.html
  ftml/test/math-block-fail.json
  ftml/test/math-block-fail.txt
  ftml/test/math-block-inline.html
  ftml/test/math-block-inline.json
  ftml/test/math-block-inline.txt
  ftml/test/math-block-multiple.html
  ftml/test/math-block-multiple.json
  ftml/test/math-block-multiple.txt
  ftml/test/math-block-named.html
  ftml/test/math-block-named.json
  ftml/test/math-block-named.txt
  ftml/test/math-block-syntax.html
  ftml/test/math-block-syntax.json
  ftml/test/math-block-syntax.txt
  ftml/test/math-block.html
  ftml/test/math-block.json
  ftml/test/math-block.txt
Owners: @ammongit

Add [[eref]] stub.
  ftml/src/parsing/rule/impls/block/blocks/equation_ref.rs
  ftml/src/parsing/rule/impls/block/blocks/mod.rs
  ftml/src/parsing/rule/impls/block/mapping.rs
Owners: @ammongit

Add Element::EquationReference.
  ftml/src/render/html/element/math.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

fix extra line
  client/modules/api/package.json
Owners: @Monkatraz, @rossjrw

Add rendering for equation references.
  ftml/src/render/html/element/math.rs
  ftml/src/render/text/elements.rs
Owners: @ammongit

Use .expect() instead of .unwrap()
  ftml/src/render/html/element/footnotes.rs
Owners: @ammongit

Build and return element.
  ftml/src/parsing/rule/impls/block/blocks/equation_ref.rs
Owners: @ammongit

Add new data to blocks.toml
  ftml/conf/blocks.toml
  ftml/src/parsing/rule/impls/block/blocks/equation_ref.rs
Owners: @ammongit

Add new data to Blocks.md
  ftml/docs/Blocks.md
Owners: @ammongit

Add some missing Blocks.md data.
  ftml/docs/Blocks.md
Owners: @ammongit

Wrap equation reference in brackets.
  ftml/src/render/text/elements.rs
Owners: @ammongit

Remove newline from text equation ref rendering.
  ftml/src/render/text/elements.rs
Owners: @ammongit

Add equation reference AST tests.
  ftml/test/equation-reference-alias.html
  ftml/test/equation-reference-alias.json
  ftml/test/equation-reference-alias.txt
  ftml/test/equation-reference-fail.html
  ftml/test/equation-reference-fail.json
  ftml/test/equation-reference-fail.txt
  ftml/test/equation-reference-multiple.html
  ftml/test/equation-reference-multiple.json
  ftml/test/equation-reference-multiple.txt
  ftml/test/equation-reference.html
  ftml/test/equation-reference.json
  ftml/test/equation-reference.txt
Owners: @ammongit

Properly exclude latex2mathml if feature is disabled.
  ftml/src/render/html/element/math.rs
Owners: @ammongit

Mention mathml feature in README.
  ftml/README.md
Owners: @ammongit

Bump ftml version to v1.8.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

update tests file
  client/web/dev-sandbox/public/static/misc/ftml-test-cases-export.ftml
Owners: @Monkatraz, @rossjrw

whoops: remove old pig locale import
  client/modules/state/src/i18n.ts
Owners: @Monkatraz, @rossjrw

repack ftml
  client/modules/ftml-wasm/package.json
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
Owners: @Monkatraz, @rossjrw

Change equation numbers to be wrapped in parentheses
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/render/html/element/math.rs
Owners: @Monkatraz, @rossjrw, @ammongit

basic MathML polyfill
  client/modules/ftml-components/package.json
  client/modules/ftml-components/src/components/math/_math.scss
  client/modules/ftml-components/src/components/math/math.ts
  client/modules/ftml-components/src/index.scss
  client/modules/ftml-components/src/index.ts
  client/modules/ftml-components/src/util.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/pnpm-lock.yaml
  ftml/src/render/html/element/math.rs
Owners: @Monkatraz, @rossjrw, @ammongit

use observe utils for code
  client/modules/ftml-components/src/components/code/code.ts
Owners: @Monkatraz, @rossjrw

fix grammar for math blocks
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
Owners: @Monkatraz, @rossjrw

unified errors
  client/modules/ftml-components/src/_base.scss
  client/modules/ftml-components/src/components/error/_error.scss
  client/modules/ftml-components/src/components/math/_math.scss
  client/modules/ftml-components/src/components/math/math.ts
  client/modules/ftml-components/src/index.scss
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/render/html/element/math.rs
Owners: @Monkatraz, @rossjrw, @ammongit

added CSS stylesheet function
  client/.changeset/great-carrots-behave.md
  client/modules/util/src/html.ts
  client/modules/util/src/index.ts
Owners: @Monkatraz, @rossjrw

make mathml element still accessible to screen readers
  client/modules/ftml-components/src/components/math/_math.scss
  client/modules/ftml-components/src/components/math/math.ts
Owners: @Monkatraz, @rossjrw

display basic error
  client/modules/ftml-components/src/components/math/math.ts
Owners: @Monkatraz, @rossjrw

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
