Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

Run cargo fmt.
  ftml/src/includes/test.rs
Owners: @ammongit

Allow attributes on [[li]].
  ftml/src/parsing/rule/impls/block/blocks/list.rs
Owners: @ammongit

Add attributes to ListItem::Elements.
  ftml/src/parsing/mod.rs
  ftml/src/parsing/rule/impls/block/blocks/list.rs
  ftml/src/parsing/rule/impls/list.rs
  ftml/src/render/html/element/list.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/list.rs
Owners: @ammongit

Fix test compilation.
  ftml/src/test/prop.rs
Owners: @ammongit

Reorder attributes field in ListItem::Elements.
  ftml/src/tree/list.rs
Owners: @ammongit

Fix list tests.
  ftml/test/list-block-whitespace.html
  ftml/test/list-block-whitespace.json
  ftml/test/list-block-whitespace.txt
  ftml/test/list-block-whitespace2.html
  ftml/test/list-block-whitespace2.json
  ftml/test/list-block-whitespace2.txt
Owners: @ammongit

Add AST test for list block attributes.
  ftml/test/list-block-attributes.html
  ftml/test/list-block-attributes.json
  ftml/test/list-block-attributes.txt
Owners: @ammongit

Add list > list block syntax to AST tests.
  ftml/test/list-block-deep.html
  ftml/test/list-block-deep.json
  ftml/test/list-block-deep.txt
Owners: @ammongit

Use null macros instead of slog-mock.
  ftml/Cargo.lock
  ftml/Cargo.toml
  ftml/src/lib.rs
  ftml/src/log.rs
Owners: @ammongit

Consume logger part of logging macros.
  ftml/src/log.rs
Owners: @ammongit

Use decomposition for multi-ExtractedToken fields.
  ftml/src/parsing/collect/generic.rs
Owners: @ammongit

Add attributes to ListItem::Elements.
  ftml/src/parsing/rule/impls/comment.rs
  ftml/src/parsing/rule/impls/raw.rs
Owners: @ammongit

Suppress unused warnings.
  ftml/src/includes/parse.rs
  ftml/src/parsing/collect/generic.rs
  ftml/src/parsing/rule/impls/block/blocks/include_messy.rs
  ftml/src/parsing/rule/impls/block/blocks/lines.rs
  ftml/src/parsing/rule/impls/comment.rs
  ftml/src/parsing/rule/impls/raw.rs
  ftml/src/parsing/token/mod.rs
  ftml/src/render/handle.rs
  ftml/src/render/html/element/link.rs
  ftml/src/text.rs
Owners: @ammongit

add setTimeout to improve on latency
  client/modules/ftml-wasm/src/base.ts
Owners: @Monkatraz, @rossjrw

snip out panic functions
  client/modules/ftml-wasm/package.json
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/Cargo.toml
Owners: @Monkatraz, @rossjrw, @ammongit

microoptimization
  client/modules/ftml-wasm/src/base.ts
Owners: @Monkatraz, @rossjrw

update deps
  client/modules/cm-espells/package.json
  client/modules/cm-lang-ftml/package.json
  client/modules/cm-tarnation/package.json
  client/modules/sheaf/package.json
  client/modules/wj-codemirror/package.json
  client/modules/wj-components/package.json
  client/modules/wj-state/package.json
  client/package.json
  client/pnpm-lock.yaml
  client/web/dev-sandbox/package.json
  client/web/wj-docs/package.json
Owners: @Monkatraz, @rossjrw

repack
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
Owners: @Monkatraz, @rossjrw

maximize performance in release mode
  ftml/Cargo.toml
Owners: @ammongit

improve ftml-wasm packing
  client/modules/ftml-wasm-worker/package.json
  client/modules/ftml-wasm/package.json
  client/modules/ftml-wasm/src/base.ts
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
  client/package.json
  client/pnpm-lock.yaml
  ftml/Cargo.toml
Owners: @Monkatraz, @rossjrw, @ammongit

Revert "snip out panic functions"
  client/modules/ftml-wasm/package.json
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/Cargo.toml
Owners: @Monkatraz, @rossjrw, @ammongit

fix typedoc, get rid of globby
  client/package.json
  client/web/wj-docs/typedoc.cjs
Owners: @Monkatraz, @rossjrw

use normal Vite workers
  client/misc/types/files.d.ts
  client/misc/types/util.d.ts
  client/modules/cm-espells/src/espells/index.ts
  client/modules/cm-lang-ftml/src/content/index.ts
  client/modules/ftml-wasm-worker/src/ftml.ts
  client/modules/ftml-wasm/src/base.ts
  client/modules/threads-worker-module/src/index.ts
  client/package.json
  client/scripts/vite-plugin-bundled-worker.js
  client/web/dev-sandbox/vite.config.js
Owners: @Monkatraz, @rossjrw

add tsconfigs to every project
  client/modules/cm-espells/tsconfig.json
  client/modules/cm-lang-ftml/tsconfig.json
  client/modules/cm-tarnation/tsconfig.json
  client/modules/ftml-wasm-worker/tsconfig.json
  client/modules/ftml-wasm/tsconfig.json
  client/modules/sheaf/tsconfig.json
  client/modules/threads-worker-module/tsconfig.json
  client/modules/wj-codemirror/tsconfig.json
  client/modules/wj-components/tsconfig.json
  client/modules/wj-css/tsconfig.json
  client/modules/wj-prism/tsconfig.json
  client/modules/wj-state/tsconfig.json
  client/modules/wj-util/tsconfig.json
  client/tsconfig.json
  client/web/wj-docs/tsconfig.json
Owners: @Monkatraz, @rossjrw

fix ftml-wasm scripts
  client/modules/ftml-wasm/package.json
Owners: @Monkatraz, @rossjrw

fix codemirror dependency issues
  client/.pnpmfile.cjs
  client/modules/wj-codemirror/package.json
Owners: @Monkatraz, @rossjrw

fix tsconfigs not having global types
  client/modules/cm-espells/tsconfig.json
  client/modules/cm-lang-ftml/tsconfig.json
  client/modules/cm-tarnation/tsconfig.json
  client/modules/ftml-wasm-worker/tsconfig.json
  client/modules/ftml-wasm/tsconfig.json
  client/modules/sheaf/tsconfig.json
  client/modules/threads-worker-module/tsconfig.json
  client/modules/wj-codemirror/tsconfig.json
  client/modules/wj-components/tsconfig.json
  client/modules/wj-css/tsconfig.json
  client/modules/wj-prism/tsconfig.json
  client/modules/wj-state/tsconfig.json
  client/modules/wj-util/tsconfig.json
  client/web/dev-sandbox/tsconfig.json
  client/web/wj-docs/tsconfig.json
Owners: @Monkatraz, @rossjrw

use linguist-generated
  client/.gitattributes
Owners: @Monkatraz, @rossjrw

simplify monorepo scripting/commands
  client/modules/cm-lang-ftml/package.json
  client/modules/cm-tarnation/package.json
  client/modules/ftml-wasm-worker/package.json
  client/modules/ftml-wasm/package.json
  client/modules/sheaf/package.json
  client/modules/threads-worker-module/package.json
  client/modules/wj-components/package.json
  client/modules/wj-css/package.json
  client/modules/wj-prism/package.json
  client/modules/wj-util/package.json
  client/nabs.yml
  client/package.json
  client/pnpm-lock.yaml
  client/web/dev-sandbox/package.json
Owners: @Monkatraz, @rossjrw

fix weird import
  client/modules/cm-tarnation/src/delegator.ts
  client/modules/cm-tarnation/src/host.ts
Owners: @Monkatraz, @rossjrw

bundle indent.js
  client/modules/ftml-wasm-worker/package.json
  client/modules/ftml-wasm-worker/src/worker/ftml.worker.ts
  client/modules/ftml-wasm-worker/vendor/indent.js
Owners: @Monkatraz, @rossjrw

add languageList facet
  client/modules/cm-lang-ftml/src/grammars/ftml.ts
  client/modules/cm-lang-ftml/src/langs.ts
  client/modules/cm-tarnation/src/delegator.ts
  client/modules/cm-tarnation/src/language.ts
  client/modules/cm-tarnation/src/types.d.ts
  client/modules/sheaf/src/components/CodeDisplay.svelte
  client/modules/sheaf/src/core.ts
  client/modules/wj-codemirror/src/index.ts
  client/modules/wj-codemirror/src/languages.ts
Owners: @Monkatraz, @rossjrw

revert back Cargo.toml
  ftml/Cargo.toml
Owners: @ammongit

take three??? linguist stop being mean
  client/.gitattributes
Owners: @Monkatraz, @rossjrw

repack ftml
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
Owners: @Monkatraz, @rossjrw

linguist vendored take two
  client/.gitattributes
Owners: @Monkatraz, @rossjrw

remove some eslint plugins, fix config
  client/.eslintrc.js
  client/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

use run-s in ftml-wasm
  client/modules/ftml-wasm/package.json
Owners: @Monkatraz, @rossjrw

remove old typedoc tsconfig
  client/tsconfig.typedoc.json
Owners: @Monkatraz, @rossjrw

remove old file in gitignore
  client/.gitignore
Owners: @Monkatraz, @rossjrw
