Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

upgrade code
  client/modules/ftml-components/src/components/code/code.ts
Owners: @Monkatraz, @rossjrw

make tabview buttons not selectable
  client/modules/ftml-components/src/components/tabview/_tabview.scss
Owners: @Monkatraz, @rossjrw

fix math block classes
  client/modules/ftml-components/src/components/math/math.ts
Owners: @Monkatraz, @rossjrw

repack ftml
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
Owners: @Monkatraz, @rossjrw

fix missing text-align
  client/modules/ftml-components/src/theme/_tabview.scss
Owners: @Monkatraz, @rossjrw

repack ftml
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
Owners: @Monkatraz, @rossjrw

fix general styling quirks
  client/modules/ftml-components/src/components/code/_code.scss
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
  client/modules/ftml-components/src/components/math/_math.scss
  client/modules/ftml-components/src/components/user-info/_user-info.scss
  client/modules/ftml-components/src/theme/_code.scss
Owners: @Monkatraz, @rossjrw

remove commented out selectors
  client/modules/ftml-components/src/_base.scss
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
  client/modules/ftml-components/src/components/math/_math.scss
  client/modules/ftml-components/src/components/tabview/_tabview.scss
Owners: @Monkatraz, @rossjrw

change collapsible DOM
  ftml/src/render/html/builder.rs
  ftml/src/render/html/element/collapsible.rs
Owners: @ammongit

fix footnotes apparently
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
Owners: @Monkatraz, @rossjrw

repack ftml
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
Owners: @Monkatraz, @rossjrw

basic collapsible styling
  client/modules/ftml-components/src/components/collapsible/_collapsible.scss
  client/modules/ftml-components/src/index.scss
  client/modules/ftml-components/src/theme/_collapsible.scss
Owners: @Monkatraz, @rossjrw

fix nesting
  client/modules/ftml-components/src/components/collapsible/_collapsible.scss
Owners: @Monkatraz, @rossjrw

flatten collapsible DOM a little, add bottom button
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
  ftml/src/render/html/element/collapsible.rs
Owners: @Monkatraz, @rossjrw, @ammongit

update styling
  client/modules/ftml-components/src/components/collapsible/_collapsible.scss
  client/modules/ftml-components/src/theme/_collapsible.scss
Owners: @Monkatraz, @rossjrw

add bottom button custom element
  client/modules/ftml-components/src/components/collapsible/collapsible.ts
  client/modules/ftml-components/src/index.ts
Owners: @Monkatraz, @rossjrw

adjust class names
  client/modules/ftml-components/src/components/collapsible/_collapsible.scss
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/render/html/element/collapsible.rs
Owners: @Monkatraz, @rossjrw, @ammongit

remove pld tabview
  client/modules/components/src/Tabview.svelte
  client/modules/components/src/index.ts
  client/modules/components/tests/setup/setup.ts
  client/modules/components/tests/tabview-stub.ts
Owners: @Monkatraz, @rossjrw

fix ftml wasm test
  client/modules/ftml-wasm/tests/ftml.ts
Owners: @Monkatraz, @rossjrw

update ftml tests
  ftml/test/collapsible-empty.html
  ftml/test/collapsible-folded-no.html
  ftml/test/collapsible-folded-yes.html
  ftml/test/collapsible-inline.html
  ftml/test/collapsible-location-both.html
  ftml/test/collapsible-location-bottom.html
  ftml/test/collapsible-location-neither.html
  ftml/test/collapsible-location-top.html
  ftml/test/collapsible-multiline.html
  ftml/test/collapsible-nested-deep.html
  ftml/test/collapsible-nested.html
  ftml/test/collapsible-styling.html
  ftml/test/collapsible-text.html
  ftml/test/collapsible-uppercase.html
  ftml/test/collapsible.html
Owners: @ammongit

Changing WikiScreen.php's method of fetching tags (now it works)
  web/php/Screens/Wiki/WikiScreen.php
Owners: @pxdnbluesoul

Put queries into static method, remove old Criteria code for retrieving tags.
  web/php/DB/Page.php
  web/php/DB/PagePeer.php
  web/php/Modules/PageTags/PageTagsModule.php
  web/php/Screens/Wiki/WikiScreen.php
Owners: @pxdnbluesoul

Remove install/legacy.
  install/legacy/Dockerfile
  install/legacy/README.md
  install/legacy/etc/lighttpd/lighttpd-wikidot.conf
  install/legacy/etc/lighttpd/lighttpd.conf
  install/legacy/install.sh
  install/legacy/scripts/run.sh
  install/legacy/scripts/services.sh
  install/legacy/scripts/start.sh
  install/legacy/scripts/status.sh
  install/legacy/scripts/stop.sh
  install/legacy/update-infra.sh
Owners: @pxdnbluesoul

add base asset module
  client/.changeset/config.json
  client/modules/asset/README.md
  client/modules/asset/package.json
  client/modules/asset/src/index.ts
  client/modules/asset/tsconfig.json
Owners: @Monkatraz, @rossjrw

add Asset class
  client/modules/asset/src/index.ts
Owners: @Monkatraz, @rossjrw

put asset functions in /api instead
  client/.changeset/config.json
  client/modules/api/src/asset.ts
  client/modules/api/src/index.ts
  client/modules/asset/README.md
  client/modules/asset/package.json
  client/modules/asset/tsconfig.json
Owners: @Monkatraz, @rossjrw

adjust wording
  client/modules/api/src/asset.ts
Owners: @Monkatraz, @rossjrw

fix svelte settings
  client/.eslintrc.yaml
  web/.eslintrc.yaml
Owners: @Monkatraz, @rossjrw

refactor state module out
  client/.changeset/config.json
  client/modules/api/package.json
  client/modules/api/src/i18n.ts
  client/modules/api/src/index.ts
  client/modules/cm-espells/package.json
  client/modules/cm-espells/src/MisspellingTooltip.svelte
  client/modules/cm-espells/src/espells/index.ts
  client/modules/cm-lang-ftml/package.json
  client/modules/cm-lang-ftml/src/data/blocks.ts
  client/modules/cm-lang-ftml/src/lint.ts
  client/modules/cm-lang-ftml/src/tips/BlockTip.svelte
  client/modules/codemirror/package.json
  client/modules/components/package.json
  client/modules/components/src/Spinny.svelte
  client/modules/components/src/Wikitext.svelte
  client/modules/components/src/index.ts
  client/modules/components/src/lib/animation.ts
  client/modules/components/src/lib/media.ts
  client/modules/components/src/lib/useragent.ts
  client/modules/sheaf/package.json
  client/modules/sheaf/src/components/PaneEditorTopbar.svelte
  client/modules/sheaf/src/components/PanePreview.svelte
  client/modules/sheaf/src/components/Sheaf.svelte
  client/modules/sheaf/src/components/SheafPanel.svelte
  client/modules/state/README.md
  client/modules/state/package.json
  client/modules/state/src/index.ts
  client/modules/state/tsconfig.json
  client/modules/util/package.json
  client/modules/util/src/index.ts
  client/modules/util/src/pref.ts
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

remove web/ folder
  client/modules/dev-sandbox/package.json
  client/modules/dev-sandbox/public/files--common/media/bad-avatar.png
  client/modules/dev-sandbox/public/files--common/media/default-avatar.png
  client/modules/dev-sandbox/public/files--common/media/karma.svg
  client/modules/dev-sandbox/public/files--common/misc/ftml-test-cases-export.ftml
  client/modules/dev-sandbox/public/files--common/misc/ftml-test.ftml
  client/modules/dev-sandbox/src/css/index.scss
  client/modules/dev-sandbox/src/index.html
  client/modules/dev-sandbox/src/lib/App.svelte
  client/modules/dev-sandbox/src/lib/index.ts
  client/modules/dev-sandbox/tsconfig.json
  client/modules/dev-sandbox/vite.config.js
  client/nabs.yml
  client/package.json
  client/pnpm-lock.yaml
  client/pnpm-workspace.yaml
  client/web/docs/package.json
  client/web/docs/tsconfig.json
  client/web/docs/typedoc.cjs
Owners: @Monkatraz, @rossjrw

move types to a more reasonable folder
  client/misc/templates/module-template/tsconfig.json
  client/modules/_types/files.d.ts
  client/modules/_types/util.d.ts
  client/modules/api/tsconfig.json
  client/modules/cm-espells/tsconfig.json
  client/modules/cm-lang-ftml/tsconfig.json
  client/modules/codemirror/tsconfig.json
  client/modules/components/tsconfig.json
  client/modules/css/tsconfig.json
  client/modules/dev-sandbox/tsconfig.json
  client/modules/ftml-components/tsconfig.json
  client/modules/ftml-wasm-worker/tsconfig.json
  client/modules/ftml-wasm/tsconfig.json
  client/modules/prism/tsconfig.json
  client/modules/sheaf/tsconfig.json
  client/modules/threads-worker-module/tsconfig.json
  client/modules/util/tsconfig.json
Owners: @Monkatraz, @rossjrw

remove misc folder
  client/misc/templates/vscode-template/settings.json
  docs/module-template/README.md
  docs/module-template/package.json
  docs/module-template/src/index.ts
  docs/module-template/tests/test-template.ts
  docs/module-template/tsconfig.json
  docs/modules.md
Owners: @Monkatraz, @rossjrw

remove docs from changeset config
  client/.changeset/config.json
Owners: @Monkatraz, @rossjrw

fix util types
  client/modules/_types/util.d.ts
Owners: @Monkatraz, @rossjrw

fix formatting
  client/modules/util/src/index.ts
Owners: @Monkatraz, @rossjrw

Trim fat from WikiPageAction involving tags and add function for saving tags to PagePeer similar to getTags().
  web/php/Actions/WikiPageAction.php
  web/php/DB/PagePeer.php
Owners: @pxdnbluesoul

Changing stray getTagsAsArray to just getTags.
  web/app/Services/Wikitext/PageInfo.php
Owners: @pxdnbluesoul

Remove stray database connection closing.
  web/php/Actions/WikiPageAction.php
Owners: @pxdnbluesoul

Changed query to new table.
  web/php/Modules/Wiki/PagesTagCloud/PagesTagCloudModule.php
Owners: @pxdnbluesoul

Modified PagesListByTagModule to not have page_tag in its queries. No idea if it works but we'll cross that bridge when we come to it :)
  web/php/Modules/Wiki/PagesTagCloud/PagesListByTagModule.php
Owners: @pxdnbluesoul
