Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

add ability to configure a nest function
  client/modules/cm-lang-ftml/src/grammars/ftml.ts
  client/modules/cm-tarnation/src/language.ts
  client/modules/cm-tarnation/src/parser.ts
  client/modules/cm-tarnation/src/types.d.ts
Owners: @Monkatraz, @rossjrw

add nest function for ftml
  client/modules/cm-lang-ftml/src/grammars/ftml.ts
  client/modules/cm-tarnation/src/parser.ts
  client/modules/cm-tarnation/src/types.d.ts
Owners: @Monkatraz, @rossjrw

make overlays optional
  client/modules/cm-lang-ftml/src/grammars/ftml.ts
  client/modules/cm-tarnation/src/parser.ts
  client/modules/cm-tarnation/src/types.d.ts
Owners: @Monkatraz, @rossjrw

update dep
  client/modules/cm-tarnation/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

add paragraph todo
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
Owners: @Monkatraz, @rossjrw

change matcher for print-tree
  client/modules/cm-lang-ftml/src/grammars/print-tree.yaml
Owners: @Monkatraz, @rossjrw

update comment
  client/modules/cm-tarnation/src/grammar/node.ts
Owners: @Monkatraz, @rossjrw

comment for crazy SingleLinkSlug regex
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
Owners: @Monkatraz, @rossjrw

use npm cm-tarnation
  client/.changeset/config.json
  client/modules/cm-lang-ftml/package.json
  client/modules/cm-lang-ftml/src/grammars/ast.ts
  client/modules/cm-lang-ftml/src/grammars/css-attributes.ts
  client/modules/cm-lang-ftml/src/grammars/ftml.ts
  client/modules/cm-lang-ftml/src/grammars/tex.ts
  client/modules/cm-tarnation/README.md
  client/modules/cm-tarnation/package.json
  client/modules/cm-tarnation/src/chunk/buffer.ts
  client/modules/cm-tarnation/src/chunk/chunk.ts
  client/modules/cm-tarnation/src/chunk/parsing.ts
  client/modules/cm-tarnation/src/enums.ts
  client/modules/cm-tarnation/src/grammar/definition.ts
  client/modules/cm-tarnation/src/grammar/grammar.ts
  client/modules/cm-tarnation/src/grammar/matched.ts
  client/modules/cm-tarnation/src/grammar/matchers/lookup.ts
  client/modules/cm-tarnation/src/grammar/matchers/regexp.ts
  client/modules/cm-tarnation/src/grammar/matchers/string.ts
  client/modules/cm-tarnation/src/grammar/node.ts
  client/modules/cm-tarnation/src/grammar/repository.ts
  client/modules/cm-tarnation/src/grammar/rules/chain.ts
  client/modules/cm-tarnation/src/grammar/rules/lookup.ts
  client/modules/cm-tarnation/src/grammar/rules/pattern.ts
  client/modules/cm-tarnation/src/grammar/rules/rule.ts
  client/modules/cm-tarnation/src/grammar/rules/state.ts
  client/modules/cm-tarnation/src/grammar/state.ts
  client/modules/cm-tarnation/src/index.ts
  client/modules/cm-tarnation/src/language.ts
  client/modules/cm-tarnation/src/parser.ts
  client/modules/cm-tarnation/src/region.ts
  client/modules/cm-tarnation/src/token.ts
  client/modules/cm-tarnation/src/types.d.ts
  client/modules/cm-tarnation/src/util.ts
  client/modules/cm-tarnation/tests/helpers.ts
  client/modules/cm-tarnation/tsconfig.json
  client/modules/codemirror/src/misc.ts
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

update deps
  client/modules/cm-lang-ftml/package.json
  client/modules/codemirror/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

fix weird issues with tsconfig
  client/misc/templates/module-template/tsconfig.json
  client/modules/cm-espells/tsconfig.json
  client/modules/cm-lang-ftml/tsconfig.json
  client/modules/codemirror/tsconfig.json
  client/modules/components/tsconfig.json
  client/modules/css/tsconfig.json
  client/modules/ftml-wasm-worker/tsconfig.json
  client/modules/ftml-wasm/tsconfig.json
  client/modules/prism/tsconfig.json
  client/modules/sheaf/tsconfig.json
  client/modules/state/tsconfig.json
  client/modules/threads-worker-module/tsconfig.json
  client/modules/util/tsconfig.json
  client/tsconfig.json
  client/web/dev-sandbox/tsconfig.json
  client/web/docs/tsconfig.json
Owners: @Monkatraz, @rossjrw

add isolation feature for wikitext component
  client/modules/components/src/Wikitext.svelte
  client/modules/sheaf/src/components/PanePreview.svelte
Owners: @Monkatraz, @rossjrw

sorta get compatibility with firefox for dev by using Vite preview
  client/modules/ftml-wasm-worker/src/ftml.ts
  client/modules/ftml-wasm/src/base.ts
  client/nabs.yml
  client/package.json
  client/web/dev-sandbox/package.json
Owners: @Monkatraz, @rossjrw

add changeset
  client/.changeset/fluffy-schools-flow.md
Owners: @Monkatraz, @rossjrw

add ftml-components module
  client/.changeset/config.json
  client/modules/ftml-components/README.md
  client/modules/ftml-components/package.json
  client/modules/ftml-components/src/index.ts
  client/modules/ftml-components/tsconfig.json
Owners: @Monkatraz, @rossjrw

add basic code element, with highlighting
  client/modules/ftml-components/package.json
  client/modules/ftml-components/src/components/code.ts
  client/modules/ftml-components/src/index.ts
  client/modules/ftml-components/src/util.ts
  client/pnpm-lock.yaml
  client/web/dev-sandbox/package.json
  client/web/dev-sandbox/src/static/lib/index.ts
Owners: @Monkatraz, @rossjrw

remove isolate from preview due to weird behavior
  client/modules/sheaf/src/components/PanePreview.svelte
Owners: @Monkatraz, @rossjrw

check for identical contents edge case
  client/modules/ftml-components/src/components/code.ts
Owners: @Monkatraz, @rossjrw

import ftml css
  client/modules/ftml-components/src/index.ts
Owners: @Monkatraz, @rossjrw

run prettier on base css
  ftml/misc/ftml-base.css
Owners: @ammongit

fix stylesheet handling in wikitext component
  client/modules/components/src/Wikitext.svelte
  client/modules/sheaf/src/components/PanePreview.svelte
Owners: @Monkatraz, @rossjrw

add some doc comments
  client/modules/ftml-components/src/components/code.ts
Owners: @Monkatraz, @rossjrw

change default prefix for Prism
  client/modules/css/src/components/_code.scss
  client/modules/prism/src/index.ts
Owners: @Monkatraz, @rossjrw

avoid deleting base stylesheet
  client/modules/components/src/Wikitext.svelte
Owners: @Monkatraz, @rossjrw

add basic token colors
  ftml/misc/ftml-base.css
Owners: @ammongit

base styling for wj-code
  ftml/misc/ftml-base.css
Owners: @ammongit

fix prism test
  client/modules/prism/tests/prism.ts
Owners: @Monkatraz, @rossjrw

add comment about lowercasing
  client/modules/ftml-components/src/components/code.ts
Owners: @Monkatraz, @rossjrw

add panel for code blocks
  client/modules/ftml-components/src/components/code.ts
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/misc/ftml-base.css
  ftml/src/render/html/element/text.rs
Owners: @Monkatraz, @rossjrw, @ammongit

add copy to clipboard button for code blocks
  client/modules/ftml-components/src/components/code.ts
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/misc/ftml-base.css
  ftml/src/render/html/builder.rs
  ftml/src/render/html/element/text.rs
Owners: @Monkatraz, @rossjrw, @ammongit

Format new render code.
  ftml/src/render/html/element/text.rs
Owners: @ammongit

Remove syntax highlighting TODO.
  ftml/src/render/html/element/text.rs
Owners: @ammongit

Localize copy clipboard string.
  ftml/src/render/handle.rs
  ftml/src/render/html/element/text.rs
Owners: @ammongit

Update HTML outputs.
  ftml/test/code-block.html
  ftml/test/code-empty.html
  ftml/test/code-inline-empty.html
  ftml/test/code-inline.html
  ftml/test/code-language-empty.html
  ftml/test/code-language-spaces.html
  ftml/test/code-language.html
  ftml/test/code-multiline.html
  ftml/test/code-spaces.html
  ftml/test/code-uppercase.html
  ftml/test/code.html
Owners: @ammongit

Add PartialElement.
  ftml/src/parsing/mod.rs
  ftml/src/parsing/rule/impls/block/blocks/list.rs
  ftml/src/parsing/rule/impls/block/blocks/table.rs
  ftml/src/parsing/rule/impls/list.rs
  ftml/src/render/html/element/list.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/test/prop.rs
  ftml/src/tree/element.rs
  ftml/src/tree/list.rs
  ftml/src/tree/mod.rs
  ftml/src/tree/partial.rs
Owners: @ammongit

Create validate_json.rs
  ftml/Cargo.lock
  ftml/Cargo.toml
  ftml/examples/validate_json.rs
  ftml/scripts/validate_json.sh
Owners: @ammongit

Flatten element in ListItem.
  ftml/src/tree/list.rs
Owners: @ammongit

Change ListItem serde structure.
  ftml/src/tree/list.rs
Owners: @ammongit

Update dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Remove parser flags.
  ftml/src/parsing/parser.rs
  ftml/src/parsing/rule/impls/block/blocks/list.rs
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit
