Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

use scrollPastEnd instead of CSS padding
  client/modules/sheaf/src/core.ts
  client/modules/wj-css/src/components/_sheaf.scss
Owners: @Monkatraz, @rossjrw

add StringInput class
  client/modules/cm-tarnation/src/util.ts
Owners: @Monkatraz, @rossjrw

use more optimized clone for parser buffer
  client/modules/cm-tarnation/src/parser/buffer.ts
Owners: @Monkatraz, @rossjrw

use LRLanguage instead
  client/modules/cm-tarnation/src/util.ts
Owners: @Monkatraz, @rossjrw

update css attribute grammar to new format
  client/modules/cm-lang-ftml/vendor/css-attribute.js
  client/modules/cm-lang-ftml/vendor/css-attribute.terms.js
  client/modules/cm-lang-ftml/vendor/css-tokens.js
Owners: @Monkatraz, @rossjrw

update misc. deps, fix ftml-wasm
  client/modules/cm-lang-ftml/vendor/css-attribute.js
  client/modules/cm-lang-ftml/vendor/css-tokens.js
  client/modules/ftml-wasm/src/index.ts
  client/modules/sheaf/src/extensions/keymap.ts
  client/tsconfig.json
  client/web/dev-sandbox/vite.config.js
Owners: @Monkatraz, @rossjrw

document region class
  client/modules/cm-tarnation/src/region.ts
  client/modules/cm-tarnation/src/types.d.ts
Owners: @Monkatraz, @rossjrw

add todo
  client/modules/cm-tarnation/src/delegator.ts
Owners: @Monkatraz, @rossjrw

document new utils
  client/modules/cm-tarnation/src/util.ts
Owners: @Monkatraz, @rossjrw

document host
  client/modules/cm-tarnation/src/host.ts
Owners: @Monkatraz, @rossjrw

cache ParserContext in chunks themselves, remove cache class entirely
  client/modules/cm-tarnation/src/cache.ts
  client/modules/cm-tarnation/src/host.ts
  client/modules/cm-tarnation/src/language.ts
  client/modules/cm-tarnation/src/parser/parser.ts
  client/modules/cm-tarnation/src/tokenizer/chunk.ts
Owners: @Monkatraz, @rossjrw

document delegator
  client/modules/cm-tarnation/src/delegator.ts
Owners: @Monkatraz, @rossjrw

update espells version
  client/modules/cm-espells/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

make wrapper on factory creation
  client/modules/cm-tarnation/src/delegator.ts
Owners: @Monkatraz, @rossjrw

update espells
  client/modules/cm-espells/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

remove console log
  client/modules/cm-tarnation/src/host.ts
Owners: @Monkatraz, @rossjrw

Update copyright years for wikijump.ini.example
  web/conf/wikijump.ini.example
Owners: none

Update composer dependencies.
  web/composer.lock
Owners: none

update dependencies, AGAIN
  client/modules/wj-codemirror/package.json
  client/modules/wj-components/package.json
  client/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

Make all vendored files binary.
  client/.gitattributes
  client/modules/ftml-wasm/.gitattributes
  client/modules/wj-prism/.gitattributes
Owners: @Monkatraz, @rossjrw

remove comment of old code
  client/modules/cm-tarnation/src/parser/parser.ts
Owners: @Monkatraz, @rossjrw

Update rustc version.
  ftml/README.md
Owners: @ammongit

Update dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Add docs to ftml-config triggers.
  .github/workflows/ftml-config.yaml
Owners: @ammongit

Remove Element::IfTags / Element::IfCategory, check conditions in parse.
  ftml/src/parsing/rule/impls/block/blocks/ifcategory.rs
  ftml/src/parsing/rule/impls/block/blocks/iftags.rs
  ftml/src/render/condition.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element.rs
Owners: @ammongit

Add line docs for data/ module.
  ftml/src/data/mod.rs
Owners: @ammongit

Move ElementCondition to parsing/ from tree/.
  ftml/src/parsing/element_condition.rs
  ftml/src/parsing/mod.rs
  ftml/src/parsing/rule/impls/block/blocks/ifcategory.rs
  ftml/src/parsing/rule/impls/block/blocks/iftags.rs
  ftml/src/tree/mod.rs
Owners: @ammongit

Add logging for conditions in [[iftags]] and [[ifcategory]].
  ftml/src/parsing/rule/impls/block/blocks/ifcategory.rs
  ftml/src/parsing/rule/impls/block/blocks/iftags.rs
Owners: @ammongit

Update AST tests for iftags and ifcategory.
  ftml/test/ifcategory.json
  ftml/test/iftags.json
Owners: @ammongit

Filter out non-warning exceptions if condition failure.
  ftml/src/parsing/rule/impls/block/blocks/ifcategory.rs
  ftml/src/parsing/rule/impls/block/blocks/iftags.rs
Owners: @ammongit

Add [[css]] in [[iftags]] / [[ifcategory]] AST tests.
  ftml/test/ifcategory-css.html
  ftml/test/ifcategory-css.json
  ftml/test/ifcategory-css.txt
  ftml/test/iftags-css.html
  ftml/test/iftags-css.json
  ftml/test/iftags-css.txt
Owners: @ammongit

Add separator for integer literal.
  ftml/src/test/prop.rs
Owners: @ammongit

Run rustfmt.
  ftml/src/test/prop.rs
Owners: @ammongit

Loosen requirement for site and page names.
  ftml/src/includes/grammar.pest
Owners: @ammongit

Rename [[include]] -> [[include-messy]].
  ftml/src/includes/grammar.pest
Owners: @ammongit

Rename [[include]] -> [[include-messy]] in AST tests.
  ftml/test/include-category.json
  ftml/test/include-error.json
  ftml/test/include-multiline.json
  ftml/test/include-multiple.json
  ftml/test/include-offsite.json
  ftml/test/include-parameters-after.json
  ftml/test/include-parameters-before.json
  ftml/test/include-parameters-both.json
  ftml/test/include-parameters-newlines-after.json
  ftml/test/include-parameters-newlines-before.json
  ftml/test/include-parameters-newlines-both.json
  ftml/test/include-parameters-newlines.json
  ftml/test/include-parameters-whitespace.json
  ftml/test/include-parameters.json
  ftml/test/include.json
Owners: @ammongit

Fix pest parser.
  ftml/src/includes/grammar.pest
Owners: @ammongit

Rename include.rs -> include_messy.rs
  ftml/src/parsing/rule/impls/block/blocks/include_messy.rs
  ftml/src/parsing/rule/impls/block/blocks/mod.rs
  ftml/src/parsing/rule/impls/block/mapping.rs
Owners: @ammongit

fix not preprocessing during tests
  client/modules/ftml-wasm/tests/ftml-original-tests.ts
Owners: @Monkatraz, @rossjrw

fix TS error
  client/modules/threads-worker-module/src/index.ts
Owners: @Monkatraz, @rossjrw

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
