Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

Fix some unrelated S3 stuff for WJ-783
  install/aws/dev/terraform/deploy/ecs.tf
  install/aws/dev/terraform/deploy/s3.tf
Owners: @pxdnbluesoul

Skip line break on newline for certain future tokens.
  ftml/src/parsing/rule/impls/line_break.rs
Owners: @ammongit

Update build scripts, add health check and remove grace period req
  .github/workflows/docker-build-push-nginx.dev.yaml
  .github/workflows/docker-build-push-php.dev.yaml
  .github/workflows/docker-build-push-postgres.dev.yaml
  install/aws/dev/terraform/deploy/ecs.tf
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

Fix munged build command
  .github/workflows/docker-build-push-nginx.dev.yaml
  .github/workflows/docker-build-push-postgres.dev.yaml
Owners: @pxdnbluesoul

Testing nginx ECR push
  .github/workflows/docker-build-push-nginx.dev.yaml
Owners: @pxdnbluesoul

Missing an argument for nginx
  .github/workflows/docker-build-push-nginx.dev.yaml
Owners: @pxdnbluesoul

Add postgres fix
  .github/workflows/docker-build-push-postgres.dev.yaml
Owners: @pxdnbluesoul

Add PHP fix
  .github/workflows/docker-build-push-php.dev.yaml
Owners: @pxdnbluesoul

Add RULE_LIST to whitespace, for starting-deep lists.
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

Allow docker internal network to hit status page
  install/aws/dev/docker/nginx/nginx.conf
Owners: @pxdnbluesoul

Point dockerfile to temp branch
  install/aws/dev/docker/nginx/Dockerfile
Owners: @pxdnbluesoul

Have npm run build also fire laravel builder
  web/package.json
Owners: none

Remove port binding for APM
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

Allow Datadog agent to access postgres
  install/aws/dev/docker/postgres/pg_hba.conf
Owners: @pxdnbluesoul

Fix PHP dependency on postgres
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

Improve how intelligently line_break look-forward is.
  ftml/src/parsing/rule/impls/block/parser.rs
  ftml/src/parsing/rule/impls/line_break.rs
Owners: @ammongit

Update axios version in npm
  web/package.json
Owners: none

Add AST test for headings in paragraphs.
  ftml/test/heading-paragraph.html
  ftml/test/heading-paragraph.json
  ftml/test/heading-paragraph.txt
Owners: @ammongit

Add AST tests for lists in paragraphs.
  ftml/test/list-bullet-paragraph.html
  ftml/test/list-bullet-paragraph.json
  ftml/test/list-bullet-paragraph.txt
  ftml/test/list-numbered-paragraph.html
  ftml/test/list-numbered-paragraph.json
  ftml/test/list-numbered-paragraph.txt
Owners: @ammongit

Change horizontal rule to require start-of-line.
  ftml/src/parsing/rule/impls/horizontal_rule.rs
Owners: @ammongit

Add AST test for blockquotes.
  ftml/test/blockquote-native-paragraph.html
  ftml/test/blockquote-native-paragraph.json
  ftml/test/blockquote-native-paragraph.txt
Owners: @ammongit

Add AST test for centered lines.
  ftml/test/center-paragraph.html
  ftml/test/center-paragraph.json
  ftml/test/center-paragraph.txt
Owners: @ammongit

Add log location directives
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

Add missing NPM options
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

Diable system-probe
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

Use simpler construction for line_break evaluate_fn().
  ftml/src/parsing/rule/impls/line_break.rs
Owners: @ammongit

Allow paragraph separation for blockquotes and lists.
  ftml/src/parsing/rule/impls/blockquote.rs
  ftml/src/parsing/rule/impls/list.rs
  ftml/test/blockquote-native-paragraph.html
Owners: @ammongit

Only print info log if the test is actually going to run.
  ftml/src/test/ast.rs
Owners: @ammongit

Update list item rules in tokenizer.
  ftml/src/parsing/lexer.pest
Owners: @ammongit

Fix list AST tests.
  ftml/test/list-bullet-paragraph.txt
  ftml/test/list-numbered-paragraph.txt
Owners: @ammongit

Update AST test for HR position change.
  ftml/test/strikethrough-empty.html
  ftml/test/strikethrough-empty.json
  ftml/test/strikethrough-empty.txt
Owners: @ammongit

Bump ftml version to v1.2.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Update vendored ftml in client.
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
Owners: @Monkatraz, @rossjrw

Remove clear float center.
  ftml/src/parsing/lexer.pest
  ftml/src/parsing/rule/mapping.rs
  ftml/src/parsing/token/mod.rs
Owners: @ammongit

Use get_optional_line_break() for hr.
  ftml/src/parsing/rule/impls/horizontal_rule.rs
Owners: @ammongit

Add clear-float CSS classes.
  ftml/misc/ftml-base.css
Owners: @ammongit

Add RULE_CLEAR_FLOAT and Element::ClearFloat.
  ftml/src/parsing/rule/impls/clear_float.rs
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/mapping.rs
  ftml/src/tree/clear_float.rs
  ftml/src/tree/element.rs
  ftml/src/tree/mod.rs
Owners: @ammongit

Add rendering for Element::ClearFloat.
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
Owners: @ammongit

Allow 3+ ~ for clear float token.
  ftml/src/parsing/lexer.pest
Owners: @ammongit

Add AST tests for clear-float.
  ftml/test/clear-float-2-fail.html
  ftml/test/clear-float-2-fail.json
  ftml/test/clear-float-2-fail.txt
  ftml/test/clear-float-3.html
  ftml/test/clear-float-3.json
  ftml/test/clear-float-3.txt
  ftml/test/clear-float-4.html
  ftml/test/clear-float-4.json
  ftml/test/clear-float-4.txt
  ftml/test/clear-float-5.html
  ftml/test/clear-float-5.json
  ftml/test/clear-float-5.txt
  ftml/test/clear-float-left.html
  ftml/test/clear-float-left.json
  ftml/test/clear-float-left.txt
  ftml/test/clear-float-right.html
  ftml/test/clear-float-right.json
  ftml/test/clear-float-right.txt
Owners: @ammongit
