Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

Add strict_types.
  web/app/Services/Wikitext/PageRef.php
Owners: @pxdnbluesoul

LoginStatusModule deprecation, login redirection
  web/app/Actions/Fortify/LoginResponse.php
  web/app/Providers/FortifyServiceProvider.php
  web/php/Modules/Legacy/LoginStatusModule.php
  web/php/Modules/LoginStatusModule.php
  web/resources/views/auth/login.blade.php
  web/resources/views/layouts/legacy.blade.php
  web/resources/views/legacy/loginstatus.blade.php
  web/templates/layouts/WikiLayout.tpl
Owners: @pxdnbluesoul

Add register link to login blade template
  web/resources/views/auth/login.blade.php
Owners: @pxdnbluesoul

Resolve remaining issues with tests
  web/app/Actions/Fortify/LoginResponse.php
  web/app/Actions/Fortify/UpdateUserProfileInformation.php
  web/app/Models/User.php
  web/resources/views/profile/update-profile-information-form.blade.php
  web/tests/php/Jetstream/AuthenticationTest.php
  web/tests/php/Jetstream/PasswordConfirmationTest.php
  web/tests/php/Jetstream/ProfileInformationTest.php
  web/tests/php/Unit/UserMessageTest.php
Owners: @pxdnbluesoul

Remove unused assets
  assets/logo-transparent.min.svg
  web/web/files--common/images/avatars/default/logo-round.min.svg
  web/web/files--common/images/avatars/default/logo-square.min.svg
  web/web/files--common/images/avatars/default/logo-transparent.min.svg
Owners: none

Add user--avatar helper route and update render.ts
  web/php/Utils/WDRenderUtils.php
  web/routes/web.php
  web/web/files--common/javascript/Wikijump/render.ts
Owners: @pxdnbluesoul, @rossjrw

Remove remaining references to old avatar storage scheme
  web/php/Actions/AccountProfileAction.php
  web/php/Modules/Account/AccountWelcomeModule.php
  web/php/Modules/Account/Profile/APAvatarModule.php
  web/php/Modules/UserInfo/UserInfoProfileModule.php
  web/php/Modules/Users/UserInfoWinModule.php
  web/web/files--common/images/avatars/.htaccess
  web/web/files--common/images/avatars/0/1/a16.png
  web/web/files--common/images/avatars/0/1/a48.png
  web/web/files--common/images/avatars/default/a16.png
  web/web/files--common/images/avatars/default/a48.png
  web/web/files--common/images/avatars/default/a48.xcf
Owners: @pxdnbluesoul

Remove maximum limit on number of page categories.
  web/php/Modules/Forum/FrontForumModule.php
  web/php/Screens/Feed/FrontForumFeed.php
Owners: @pxdnbluesoul

Cleanup commit
  docs/development.md
  web/app/Actions/Fortify/CreateNewUser.php
  web/app/Actions/Fortify/LoginResponse.php
  web/app/Actions/Fortify/UpdateUserProfileInformation.php
  web/app/Helpers/PageBuilder.php
  web/app/Models/UserMessage.php
  web/app/Traits/UsesBitmasks.php
  web/database/factories/UserFactory.php
  web/lib/ozoneframework/php/core/RunData.php
  web/package.json
  web/php/Utils/WDPermissionManager.php
Owners: @pxdnbluesoul

Mitigation for CVE-2020-28168
  web/package.json
Owners: none

Add AWS seed files that match local spec
  install/aws/dev/docker/postgres/seed.sql
  install/aws/prod/docker/postgres/seed.sql
Owners: @pxdnbluesoul

Remove last templace call to templates domain
  web/templates/modules/Account/AccountProfileModule.tpl
Owners: @pxdnbluesoul

Remove remaining seed references to profiles
  web/database/seeders/LegacySeeder.php
  web/database/seeders/PHPUnitLegacySeeder.php
Owners: @pxdnbluesoul

Add start-of-line flag to Parser.
  ftml/src/parsing/parser.rs
Owners: @ammongit

Add LineRequirement::Any to all rules.
  ftml/src/parsing/rule/impls/block/blocks/module/mod.rs
  ftml/src/parsing/rule/impls/block/mod.rs
  ftml/src/parsing/rule/impls/block/rule.rs
  ftml/src/parsing/rule/impls/blockquote.rs
  ftml/src/parsing/rule/impls/bold.rs
  ftml/src/parsing/rule/impls/center.rs
  ftml/src/parsing/rule/impls/color.rs
  ftml/src/parsing/rule/impls/comment.rs
  ftml/src/parsing/rule/impls/dash.rs
  ftml/src/parsing/rule/impls/double_angle.rs
  ftml/src/parsing/rule/impls/email.rs
  ftml/src/parsing/rule/impls/fallback.rs
  ftml/src/parsing/rule/impls/header.rs
  ftml/src/parsing/rule/impls/horizontal_rule.rs
  ftml/src/parsing/rule/impls/italics.rs
  ftml/src/parsing/rule/impls/line_break.rs
  ftml/src/parsing/rule/impls/link_anchor.rs
  ftml/src/parsing/rule/impls/link_single.rs
  ftml/src/parsing/rule/impls/link_triple.rs
  ftml/src/parsing/rule/impls/list.rs
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/impls/monospace.rs
  ftml/src/parsing/rule/impls/null.rs
  ftml/src/parsing/rule/impls/page.rs
  ftml/src/parsing/rule/impls/raw.rs
  ftml/src/parsing/rule/impls/strikethrough.rs
  ftml/src/parsing/rule/impls/subscript.rs
  ftml/src/parsing/rule/impls/superscript.rs
  ftml/src/parsing/rule/impls/text.rs
  ftml/src/parsing/rule/impls/todo.rs
  ftml/src/parsing/rule/impls/underline.rs
  ftml/src/parsing/rule/impls/url.rs
  ftml/src/parsing/rule/mod.rs
Owners: @ammongit

Move line-boundary rules to their appropriate forward token.
  ftml/src/parsing/rule/impls/block/rule.rs
  ftml/src/parsing/rule/impls/blockquote.rs
  ftml/src/parsing/rule/impls/center.rs
  ftml/src/parsing/rule/impls/header.rs
  ftml/src/parsing/rule/impls/list.rs
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

Remove now-irrelevant RULE_BLOCK_SKIP.
  ftml/src/parsing/rule/impls/block/mod.rs
  ftml/src/parsing/rule/impls/block/rule.rs
  ftml/src/parsing/rule/impls/mod.rs
Owners: @ammongit

Set parser.start_of_line on each step().
  ftml/src/parsing/parser.rs
Owners: @ammongit

Adjust footnote comment.
  ftml/src/parsing/parser.rs
Owners: @ammongit

Set start_of_line on parser.update().
  ftml/src/parsing/parser.rs
Owners: @ammongit

Run cargo fmt.
  ftml/src/parsing/parser.rs
Owners: @ammongit

Check line position before trying to run rule.
  ftml/src/parsing/exception.rs
  ftml/src/parsing/rule/mod.rs
Owners: @ammongit

Create make_shared_vec() helper for cleanliness in Parser::new().
  ftml/src/parsing/parser.rs
Owners: @ammongit

Add parser tests for newline flags.
  ftml/src/parsing/parser.rs
Owners: @ammongit

Remove newline-skipping rules in sensitive rules.
  ftml/src/parsing/rule/impls/blockquote.rs
  ftml/src/parsing/rule/impls/center.rs
  ftml/src/parsing/rule/impls/header.rs
  ftml/src/parsing/rule/impls/list.rs
Owners: @ammongit

Remove check_step_multiple().
  ftml/src/parsing/check_step.rs
  ftml/src/parsing/rule/impls/mod.rs
Owners: @ammongit

Update dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Add script to assist with comparing AST test output.
  ftml/scripts/ast_diff.py
Owners: @ammongit

Revert "Remove now-irrelevant RULE_BLOCK_SKIP."
  ftml/src/parsing/rule/impls/block/mod.rs
  ftml/src/parsing/rule/impls/block/rule.rs
  ftml/src/parsing/rule/impls/mod.rs
Owners: @ammongit

TF changes for Datadog
  install/aws/dev/terraform/deploy/ecs.tf
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

Don't assert tokens in block_skip.
  ftml/src/parsing/rule/impls/block/rule.rs
Owners: @ammongit

Rename rule to RULE_BLOCK_SKIP_NEWLINE.
  ftml/src/parsing/rule/impls/block/mod.rs
  ftml/src/parsing/rule/impls/block/rule.rs
  ftml/src/parsing/rule/impls/mod.rs
Owners: @ammongit

Add RULE_BLOCK_SKIP_NEWLINE to LineBreak in mapping.
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

Initial test of new config
  .github/workflows/docker-build-push-nginx.dev.yaml
  .github/workflows/docker-build-push-php.dev.yaml
  .github/workflows/docker-build-push-postgres.dev.yaml
  install/aws/dev/docker/nginx/nginx.conf
  install/aws/dev/docker/php-fpm/Dockerfile
  install/aws/dev/docker/php-fpm/etc/php/fpm-status.ini
  install/aws/dev/docker/postgres/seed.sql
  install/aws/dev/terraform/deploy/task-definitions.tf
  install/local/dev/nginx/nginx.conf
  install/local/dev/php-fpm/etc/php/fpm-status.ini
Owners: @pxdnbluesoul

Replace ast_diff with shell implementation.
  ftml/scripts/ast_diff.py
  ftml/scripts/ast_diff.sh
Owners: @ammongit

Fix RULE_BLOCK_SKIP_NEWLINE position requirement.
  ftml/src/parsing/rule/impls/block/rule.rs
Owners: @ammongit

Like a thousand slashes
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

And like eight more slashes
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

Add empty definitions for linux params for DD APM
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul

Missing drop list
  install/aws/dev/terraform/deploy/task-definitions.tf
Owners: @pxdnbluesoul
