Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

Reposition expected value init.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Fix "integer timezone" inputs.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Update dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Remove bad flags in block.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Add data to blocks.toml
  ftml/conf/blocks.toml
Owners: @ammongit

Add vim modeline to Blocks.md
  ftml/docs/Blocks.md
Owners: @ammongit

Add Date to Blocks.md
  ftml/docs/Blocks.md
Owners: @ammongit

Designate default for collapsible hideLocation argument.
  ftml/docs/Blocks.md
Owners: @ammongit

Add leading zeros.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Use different format strings depending on variant.
  ftml/src/render/html/element/date.rs
  ftml/src/tree/date.rs
  ftml/src/tree/mod.rs
Owners: @ammongit

Don't use AM/PM.
  ftml/src/tree/date.rs
Owners: @ammongit

Rename field time -> value.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Add serde config for ftml::tree::Date.
  ftml/src/tree/date.rs
Owners: @ammongit

Add #[cfg(test)] version of now() which has a fixed value.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Move fixed now() to correct location.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
  ftml/src/tree/date.rs
Owners: @ammongit

Add first [[date]] AST test.
  ftml/test/date.html
  ftml/test/date.json
  ftml/test/date.txt
Owners: @ammongit

Add remaining [[date]] AST tests.
  ftml/test/date-datetime.html
  ftml/test/date-datetime.json
  ftml/test/date-datetime.txt
  ftml/test/date-fail.html
  ftml/test/date-fail.json
  ftml/test/date-fail.txt
  ftml/test/date-format.html
  ftml/test/date-format.json
  ftml/test/date-format.txt
  ftml/test/date-integer.html
  ftml/test/date-integer.json
  ftml/test/date-integer.txt
  ftml/test/date-timezone-argument.html
  ftml/test/date-timezone-argument.json
  ftml/test/date-timezone-argument.txt
  ftml/test/date-timezone-date.html
  ftml/test/date-timezone-date.json
  ftml/test/date-timezone-date.txt
  ftml/test/date-timezone-fail.html
  ftml/test/date-timezone-fail.json
  ftml/test/date-timezone-fail.txt
Owners: @ammongit

Bump ftml version to v1.9.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Add test for hover argument.
  ftml/test/date-hover.html
  ftml/test/date-hover.json
  ftml/test/date-hover.txt
Owners: @ammongit

get sandbox working
  client/modules/sheaf/src/components/PanePreview.svelte
  client/web/dev-sandbox/src/lib/App.svelte
Owners: @Monkatraz, @rossjrw

make sandbox match wikijump folder structure sorta
  client/modules/cm-lang-ftml/get-test-file.cjs
  client/scripts/vite-config.js
  client/web/dev-sandbox/public/files--common/misc/ftml-test-cases-export.ftml
  client/web/dev-sandbox/public/files--common/misc/ftml-test.ftml
  client/web/dev-sandbox/src/css/index.scss
  client/web/dev-sandbox/src/index.html
  client/web/dev-sandbox/src/lib/App.svelte
  client/web/dev-sandbox/src/lib/index.ts
Owners: @Monkatraz, @rossjrw

add avatar resources
  client/web/dev-sandbox/public/files--common/media/bad-avatar.png
  client/web/dev-sandbox/public/files--common/media/default-avatar.png
  client/web/dev-sandbox/public/files--common/media/karma.svg
Owners: @Monkatraz, @rossjrw

add passing in viewbox to svg_use
  ftml/src/render/html/builder.rs
Owners: @ammongit

use new svg_use, fix styling
  client/modules/ftml-components/src/components/user-info/_user-info.scss
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
  ftml/src/render/html/builder.rs
  ftml/src/render/html/element/user.rs
Owners: @Monkatraz, @rossjrw, @ammongit

use href
  ftml/src/render/html/element/user.rs
Owners: @ammongit

use relative urls
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/data/user_info.rs
  ftml/src/render/handle.rs
Owners: @Monkatraz, @rossjrw, @ammongit

user-info karma
  client/modules/ftml-components/src/components/user-info/_user-info.scss
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/data/user_info.rs
  ftml/src/render/html/element/user.rs
Owners: @Monkatraz, @rossjrw, @ammongit

Create helper method svg_use().
  ftml/src/render/html/builder.rs
Owners: @ammongit

make karma svg only round on the left
  client/web/dev-sandbox/public/files--common/media/karma.svg
Owners: @Monkatraz, @rossjrw

Add method documentation.
  ftml/src/render/html/builder.rs
Owners: @ammongit

styling tweaks
  client/modules/ftml-components/src/components/user-info/_user-info.scss
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
Owners: @Monkatraz, @rossjrw

update tests
  ftml/test/user-spaces.html
  ftml/test/user-star.html
  ftml/test/user.html
Owners: @ammongit

Accept removing pointless comma
  ftml/src/data/user_info.rs
Owners: @ammongit

repack ftml
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
Owners: @Monkatraz, @rossjrw

Create KarmaLevel enum.
  ftml/src/data/karma.rs
  ftml/src/data/mod.rs
Owners: @ammongit

Use KarmaLevel in UserInfo.
  ftml/src/data/karma.rs
  ftml/src/data/user_info.rs
Owners: @ammongit

Tell serde to represent KarmaLevel as u8.
  ftml/src/data/karma.rs
Owners: @ammongit

Bump ftml version to v1.9.1
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Don't star-export all ftml::data::*
  ftml/src/lib.rs
Owners: @ammongit

Fix imports.
  ftml/src/ffi/page_info.rs
  ftml/src/lib.rs
  ftml/src/render/handle.rs
  ftml/src/render/html/context.rs
  ftml/src/render/html/mod.rs
  ftml/src/render/html/output.rs
  ftml/src/render/mod.rs
  ftml/src/render/text/context.rs
  ftml/src/render/text/mod.rs
  ftml/src/test/ast.rs
Owners: @ammongit
