Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

Add empty definition list AST tests.
  ftml/test/definition-list-empty.html
  ftml/test/definition-list-empty.json
  ftml/test/definition-list-empty.txt
Owners: @ammongit

Add fail AST test for definition lists.
  ftml/test/definition-list-fail.html
  ftml/test/definition-list-fail.json
  ftml/test/definition-list-fail.txt
Owners: @ammongit

Add definition list AST test with underscore line break.
  ftml/test/definition-list-line-break.html
  ftml/test/definition-list-line-break.json
  ftml/test/definition-list-line-break.txt
Owners: @ammongit

Add collect_consume_keep().
  ftml/src/parsing/collect/consume.rs
  ftml/src/parsing/collect/text.rs
  ftml/src/parsing/rule/impls/definition_list.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Export new collect function.
  ftml/src/parsing/collect/mod.rs
Owners: @ammongit

Check to terminate on ending tokens.
  ftml/src/parsing/rule/impls/definition_list.rs
Owners: @ammongit

Add a newline after a definition list.
  ftml/src/render/text/elements.rs
  ftml/test/definition-list-multiple.html
  ftml/test/definition-list-multiple.json
  ftml/test/definition-list-multiple.txt
Owners: @ammongit

Fix multiple definition list AST test.
  ftml/test/definition-list-multiple.html
  ftml/test/definition-list-multiple.txt
  ftml/test/definition-list.txt
Owners: @ammongit

Add input-bounded AST test for definition lists.
  ftml/test/definition-list-input.html
  ftml/test/definition-list-input.json
  ftml/test/definition-list-input.txt
Owners: @ammongit

Bump ftml version to v1.7.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Fix unused warning.
  ftml/src/parsing/rule/impls/definition_list.rs
Owners: @ammongit

Use latest wasm-pack in CI.
  .github/workflows/ftml.yaml
Owners: @ammongit

init package
  client/modules/api/README.md
  client/modules/api/package.json
  client/modules/api/src/index.ts
  client/modules/api/tests/test-template.ts
  client/modules/api/tsconfig.json
Owners: @Monkatraz, @rossjrw

add module to ignore
  client/.changeset/config.json
Owners: @Monkatraz, @rossjrw

add generating ts interfaces for api
  client/modules/api/package.json
  client/modules/api/vendor/api.d.ts
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

use prettier
  client/modules/api/package.json
  client/modules/api/vendor/api.d.ts
Owners: @Monkatraz, @rossjrw

rename File to FileData
  web/resources/api/api.oas3.yaml
Owners: none

actually auto-gen a full client
  client/modules/api/package.json
  client/modules/api/vendor/api.d.ts
  client/modules/api/vendor/api.ts
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

auto-unwrap
  client/modules/api/package.json
  client/modules/api/src/index.ts
  client/modules/api/vendor/api.ts
Owners: @Monkatraz, @rossjrw

Add inline math symbols.
  ftml/src/parsing/lexer.pest
  ftml/src/parsing/rule/mapping.rs
  ftml/src/parsing/token/mod.rs
Owners: @ammongit

export everything needed
  client/modules/api/package.json
  client/modules/api/src/index.ts
  client/modules/api/tsconfig.json
  client/modules/api/vendor/api.ts
Owners: @Monkatraz, @rossjrw

remove test template
  client/modules/api/tests/test-template.ts
Owners: @Monkatraz, @rossjrw

fix package name
  client/modules/api/package.json
Owners: @Monkatraz, @rossjrw

Start RULE_MATH.
  ftml/src/parsing/rule/impls/math.rs
  ftml/src/parsing/rule/impls/mod.rs
Owners: @ammongit

Add Element::Math and Element::MathInline, with stubs.
  ftml/src/render/html/element/math.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Create element for inline math.
  ftml/src/parsing/rule/impls/math.rs
Owners: @ammongit

Add stub for BLOCK_MATH.
  ftml/src/parsing/rule/impls/block/blocks/math.rs
  ftml/src/parsing/rule/impls/block/blocks/mod.rs
Owners: @ammongit

Implement BLOCK_MATH parsing.
  ftml/src/parsing/rule/impls/block/blocks/math.rs
Owners: @ammongit

Don't use wildcard import.
  ftml/src/parsing/rule/impls/block/blocks/mod.rs
Owners: @ammongit

Add BLOCK_MATH to mapping.
  ftml/src/parsing/rule/impls/block/mapping.rs
Owners: @ammongit

Add RULE_MATH (inline) to mapping.
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

Fix locale naming.
  locales/README.md
Owners: none

Add optional latex2mathml dependency.
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

add mockoon config and scripts
  client/modules/api/mockoon/file.html
  client/modules/api/mockoon/icon.png
  client/modules/api/mockoon/mockoon-api.json
  client/modules/api/mockoon/tiny-icon.jpg
  client/modules/api/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

Add equation index field to render contexts.
  ftml/src/render/html/context.rs
  ftml/src/render/text/context.rs
Owners: @ammongit

Add next_footnote_index() to context objects.
  ftml/src/render/html/context.rs
  ftml/src/render/text/context.rs
Owners: @ammongit

add basic api wrapper
  client/modules/api/src/api.ts
  client/modules/api/src/index.ts
Owners: @Monkatraz, @rossjrw

Add basic text render for math block.
  ftml/src/render/text/elements.rs
Owners: @ammongit

Use add_newline() for code and math text rendering.
  ftml/src/render/text/elements.rs
Owners: @ammongit

Add text rendering for inline math.
  ftml/src/render/text/elements.rs
Owners: @ammongit

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
