Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

better error handling
  client/modules/ftml-components/src/components/math/math.ts
Owners: @Monkatraz, @rossjrw

doc pass
  client/modules/ftml-components/src/components/code/code.ts
  client/modules/ftml-components/src/components/math/math.ts
Owners: @Monkatraz, @rossjrw

fix formatting lookaheads
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
Owners: @Monkatraz, @rossjrw

better tex command group
  client/modules/cm-lang-ftml/src/grammars/tex.yaml
Owners: @Monkatraz, @rossjrw

better styling
  client/modules/css/src/components/_code.scss
  client/modules/ftml-components/src/components/math/_math.scss
  client/modules/ftml-components/src/components/math/math.ts
Owners: @Monkatraz, @rossjrw

add equation references
  client/modules/ftml-components/src/components/math/_math.scss
  client/modules/ftml-components/src/components/math/math.ts
Owners: @Monkatraz, @rossjrw

fix margin
  client/modules/ftml-components/src/components/math/_math.scss
Owners: @Monkatraz, @rossjrw

add eqref as an alias for equation references
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/conf/blocks.toml
  ftml/docs/Blocks.md
  ftml/src/parsing/rule/impls/block/blocks/equation_ref.rs
Owners: @Monkatraz, @rossjrw, @ammongit

mark error_type as potentially unused
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/render/html/element/math.rs
Owners: @Monkatraz, @rossjrw, @ammongit

remove weird CommandGroup rule
  client/modules/cm-lang-ftml/src/grammars/tex.yaml
Owners: @Monkatraz, @rossjrw

update tests
  ftml/test/math-block-inline.html
  ftml/test/math-block-multiple.html
  ftml/test/math-block-named.html
  ftml/test/math-block-syntax.html
  ftml/test/math-block.html
  ftml/test/math-inline-multiple.html
  ftml/test/math-inline-syntax.html
  ftml/test/math-inline.html
Owners: @ammongit

Start parse_date().
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Add ISO 8601 string (data-iso) to HTML.
  ftml/src/render/html/element/date.rs
  ftml/src/render/html/element/footnotes.rs
Owners: @ammongit

Fix logger compilation.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Add date parse case for "now".
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Create unit struct for parse_date() error.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Add timezone parsing from argument.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Create date render stubs.
  ftml/src/render/html/element/date.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/mod.rs
  ftml/src/render/text/elements.rs
Owners: @ammongit

Add Element::Date.
  ftml/Cargo.lock
  ftml/Cargo.toml
  ftml/src/parsing/rule/impls/block/blocks/date.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Determine proper timezone.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Pull arguments in [[date]].
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Render HTML for datetimes.
  ftml/src/render/html/element/date.rs
Owners: @ammongit

Use str!() instead of format!().
  ftml/src/render/html/element/footnotes.rs
Owners: @ammongit

Fix date block rule to use new date object.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
  ftml/src/tree/date.rs
Owners: @ammongit

Add time zone to default datetime format string.
  ftml/src/render/mod.rs
Owners: @ammongit

Add chrono as an explicit dependency.
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Get rid of incompatible cases (has spaces).
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Build and return Element::Date.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Start datetime parser tests.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Add trailing comma.
  ftml/src/parsing/rule/impls/block/parser.rs
Owners: @ammongit

Create wrapper Date class.
  ftml/src/render/html/element/date.rs
  ftml/src/render/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/date.rs
  ftml/src/tree/element/object.rs
  ftml/src/tree/mod.rs
Owners: @ammongit

Fix existing date tests.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Add BLOCK_DATE stub.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
  ftml/src/parsing/rule/impls/block/blocks/mod.rs
  ftml/src/parsing/rule/impls/block/mapping.rs
Owners: @ammongit

Add check for multiple timezones.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Fix datetime parse tests.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
  ftml/src/tree/date.rs
Owners: @ammongit

Start function tests for timezone parse.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Add missing case for absent sign.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Since group is actually unconditional, unwrap.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Fix off-by-one for capture groups.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit

Sign capture group is not actually unconditional.
  ftml/src/parsing/rule/impls/block/blocks/date.rs
Owners: @ammongit
