Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

Split out tree/element module into submodules.
  ftml/src/parsing/mod.rs
  ftml/src/parsing/result.rs
  ftml/src/tree/element/collection.rs
  ftml/src/tree/element/iter_owned.rs
  ftml/src/tree/element/iter_ref.rs
  ftml/src/tree/element/mod.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Check partial elements after consume.
  ftml/src/parsing/consume.rs
  ftml/src/parsing/result.rs
Owners: @ammongit

Remove parser flag checks.
  ftml/src/parsing/parser.rs
  ftml/src/parsing/rule/impls/block/blocks/list.rs
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Move attributes field.
  ftml/test/list-block-deep.json
Owners: @ammongit

Save and restore the original partial flag.
  ftml/src/parsing/parser_wrap.rs
Owners: @ammongit

Add ParserWrap for AcceptsPartial rules.
  ftml/src/parsing/rule/impls/block/blocks/list.rs
  ftml/src/parsing/rule/impls/block/blocks/table.rs
Owners: @ammongit

Create ParserWrap structure for setting AcceptsPartial flags.
  ftml/src/parsing/mod.rs
  ftml/src/parsing/parser_wrap.rs
Owners: @ammongit

Add parser flag for partial acceptance.
  ftml/src/parsing/parser.rs
  ftml/src/parsing/result.rs
  ftml/src/tree/partial.rs
Owners: @ammongit

Use matches! instead of match.
  ftml/src/tree/partial.rs
Owners: @ammongit

Wrap OwnedElementsIterator::Single in a Box.
  ftml/src/tree/element/iter_owned.rs
Owners: @ammongit

Update warnings in AST tests.
  ftml/test/list-block-fail.json
  ftml/test/list-block-non-list-fail.json
  ftml/test/table-advanced-fail-cell.json
  ftml/test/table-advanced-fail-row.json
  ftml/test/table-advanced-fail-table-cell.json
Owners: @ammongit

Use Vec backing for OwnedElementsIterator.
  ftml/src/tree/element/iter_owned.rs
Owners: @ammongit

Check partials in rule execution.
  ftml/src/parsing/consume.rs
  ftml/src/parsing/rule/mod.rs
Owners: @ammongit

Run cargo fmt.
  ftml/src/parsing/consume.rs
Owners: @ammongit

Update dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Fix comments in try_consume().
  ftml/src/parsing/rule/mod.rs
Owners: @ammongit

Update commit hash in comment.
  ftml/src/tree/element/iter_owned.rs
Owners: @ammongit

Bump ftml version to v1.6.2
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

use new scss
  client/modules/components/package.json
  client/modules/components/src/Wikitext.svelte
  client/pnpm-lock.yaml
  client/web/dev-sandbox/src/static/css/index.scss
Owners: @Monkatraz, @rossjrw

remove in-crate css from FTML
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/Cargo.toml
  ftml/README.md
  ftml/misc/ftml-base.css
  ftml/src/ffi/css.rs
  ftml/src/ffi/mod.rs
  ftml/src/lib.rs
  ftml/src/wasm/css.rs
  ftml/src/wasm/mod.rs
Owners: @Monkatraz, @rossjrw, @ammongit

make ftml components use their own scss
  client/modules/ftml-components/src/_base.scss
  client/modules/ftml-components/src/components/code/_code.scss
  client/modules/ftml-components/src/components/code/code.ts
  client/modules/ftml-components/src/components/collapsible/_collapsible.scss
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
  client/modules/ftml-components/src/components/user-info/_user-info.scss
  client/modules/ftml-components/src/index.scss
  client/modules/ftml-components/src/index.ts
Owners: @Monkatraz, @rossjrw

Create RULE_VARIABLE.
  ftml/src/parsing/exception.rs
  ftml/src/parsing/parser.rs
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/impls/variable.rs
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

Add VariablesMap type alias.
  ftml/src/tree/mod.rs
  ftml/src/tree/variables.rs
Owners: @ammongit

Use VariableMap alias.
  ftml/src/includes/include_ref.rs
  ftml/src/includes/includer/debug.rs
  ftml/src/includes/mod.rs
  ftml/src/parsing/parser.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Remove variables from parser.
  ftml/src/parsing/parser.rs
Owners: @ammongit

Create VariableScopes.
  ftml/src/tree/mod.rs
  ftml/src/tree/variables.rs
Owners: @ammongit

Add Element::Variable.
  ftml/src/tree/element/object.rs
Owners: @ammongit

Stub Element::Variable rendering.
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
Owners: @ammongit

Run cargo fmt.
  ftml/src/tree/element/object.rs
Owners: @ammongit

Fix variable parse rule.
  ftml/src/parsing/rule/impls/variable.rs
Owners: @ammongit

Clone variable scopes in push.
  ftml/src/render/html/builder.rs
  ftml/src/render/html/context.rs
  ftml/src/render/html/element/include.rs
  ftml/src/render/text/context.rs
  ftml/src/tree/variables.rs
Owners: @ammongit

Implement text rendering.
  ftml/src/render/text/elements.rs
Owners: @ammongit

Remove context object.
  ftml/src/render/html/context.rs
  ftml/src/render/html/element/include.rs
  ftml/src/render/text/context.rs
  ftml/src/tree/variables.rs
Owners: @ammongit

Add TestIncluder for AST tests with messy includes.
  ftml/src/test/ast.rs
  ftml/src/test/includer.rs
  ftml/src/test/mod.rs
Owners: @ammongit

Render variable values.
  ftml/src/render/html/element/include.rs
Owners: @ammongit

Use different text for other included pages.
  ftml/src/test/includer.rs
Owners: @ammongit

Add variable scopes to render contexts.
  ftml/src/render/html/context.rs
  ftml/src/render/text/context.rs
  ftml/src/tree/variables.rs
Owners: @ammongit

Replace variables for include-messy.
  ftml/src/includes/mod.rs
Owners: @ammongit

Add generic wrapper for VariableScopes.
  ftml/src/tree/variables.rs
Owners: @ammongit

Reimplement VariableContextWrap with a trait.
  ftml/src/render/html/builder.rs
  ftml/src/render/html/context.rs
  ftml/src/render/html/element/include.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/context.rs
  ftml/src/tree/variables.rs
Owners: @ammongit
