Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

Add stub for individual definition list item pairs.
  ftml/src/parsing/rule/impls/definition_list.rs
Owners: @ammongit

Gather all the definition list items in one go.
  ftml/src/parsing/rule/impls/definition_list.rs
Owners: @ammongit

Initial implementation of definition list rule.
  ftml/src/parsing/rule/impls/definition_list.rs
  ftml/src/parsing/rule/impls/underscore_line_break.rs
Owners: @ammongit

Properly flatten Element::DefinitionList.
  ftml/src/parsing/rule/impls/definition_list.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Add RULE_TEXT fallback for colon.
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

Definition lists <dl> are not paragraph safe.
  ftml/src/tree/element/object.rs
Owners: @ammongit

Fix definition list parsing.
  ftml/src/parsing/rule/impls/definition_list.rs
Owners: @ammongit

basic footnote marker HTML structure, styling, element
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
  client/modules/ftml-components/src/index.scss
  client/modules/ftml-components/src/index.ts
  client/modules/ftml-components/src/util.ts
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
  ftml/src/render/html/context.rs
  ftml/src/render/html/element/footnotes.rs
Owners: @Monkatraz, @rossjrw, @ammongit

get rid of ref
  ftml/src/render/html/element/footnotes.rs
Owners: @ammongit

improve hovering, add tooltip label
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/render/handle.rs
  ftml/src/render/html/element/footnotes.rs
Owners: @Monkatraz, @rossjrw, @ammongit

docs pass
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
Owners: @Monkatraz, @rossjrw

add list item marker handling
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
Owners: @Monkatraz, @rossjrw

improve tooltip hovering behavior
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/render/html/element/footnotes.rs
Owners: @Monkatraz, @rossjrw, @ammongit

repack wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
Owners: @Monkatraz, @rossjrw

add basic hovering
  client/modules/css/src/abstracts/_mixins.scss
  client/modules/ftml-components/package.json
  client/modules/ftml-components/src/_base.scss
  client/modules/ftml-components/src/components/code/_code.scss
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

footnote-block html, click to scroll to footnote
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/render/html/element/footnotes.rs
Owners: @Monkatraz, @rossjrw, @ammongit

repack ftml
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
Owners: @Monkatraz, @rossjrw

repack ftml
  client/modules/ftml-wasm/vendor/ftml.d.ts
  client/modules/ftml-wasm/vendor/ftml.js
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  client/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
Owners: @Monkatraz, @rossjrw

Minor touch-ups.
  ftml/src/render/html/element/footnotes.rs
Owners: @ammongit

Add copy impl for ItemRender: &String.
  ftml/src/render/html/render.rs
Owners: @ammongit

Update AST test HTML data.
  ftml/test/footnote-block-hide.html
  ftml/test/footnote-block-multiple.html
  ftml/test/footnote-block-title.html
  ftml/test/footnote-block.html
  ftml/test/footnote-ref-container.html
  ftml/test/footnote-ref-elements.html
  ftml/test/footnote-ref-empty.html
  ftml/test/footnote-ref-fail-nested.html
  ftml/test/footnote-ref-paragraphs.html
  ftml/test/footnote-ref.html
Owners: @ammongit

Add RULE_DEFINITION_LIST_SKIP_NEWLINE.
  ftml/src/parsing/rule/impls/definition_list.rs
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

Add parser.next_three_tokens().
  ftml/src/parsing/parser.rs
  ftml/src/parsing/rule/impls/definition_list.rs
Owners: @ammongit

Run cargo fmt.
  ftml/src/parsing/rule/impls/definition_list.rs
  ftml/src/parsing/rule/impls/mod.rs
Owners: @ammongit

fix test
  client/modules/ftml-wasm/tests/ftml.ts
Owners: @Monkatraz, @rossjrw

Add first AST test for definition lists.
  ftml/test/definition-list.html
  ftml/test/definition-list.json
  ftml/test/definition-list.txt
Owners: @ammongit

minor cleanup, repack ftml
  client/modules/ftml-wasm/vendor/ftml_bg.wasm
  ftml/src/render/html/element/footnotes.rs
Owners: @Monkatraz, @rossjrw, @ammongit

fix formatting
  client/modules/ftml-components/src/_default.scss
Owners: @Monkatraz, @rossjrw

Change definition list to be contain elements.
  ftml/src/tree/definition_list.rs
  ftml/src/tree/element/object.rs
  ftml/src/tree/mod.rs
Owners: @ammongit

make linter use timeout
  client/modules/cm-espells/src/linter.ts
  client/modules/util/src/timeout.ts
Owners: @Monkatraz, @rossjrw

super fancy timeout class
  client/modules/util/src/index.ts
  client/modules/util/src/timeout.ts
Owners: @Monkatraz, @rossjrw

add changeset
  client/.changeset/dull-paws-love.md
Owners: @Monkatraz, @rossjrw

add clearTimeout function
  client/modules/util/src/timeout.ts
Owners: @Monkatraz, @rossjrw

make ftml-components use new Timeout
  client/modules/ftml-components/package.json
  client/modules/ftml-components/src/components/code/code.ts
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

fix clearTimeout being shadowed
  client/modules/util/src/timeout.ts
Owners: @Monkatraz, @rossjrw

add thenable to timeout
  client/modules/util/src/timeout.ts
Owners: @Monkatraz, @rossjrw

add some extra safeguards
  client/modules/util/src/timeout.ts
Owners: @Monkatraz, @rossjrw

Change definition lists to store elements.
  ftml/src/parsing/rule/impls/definition_list.rs
  ftml/src/render/html/element/definition_list.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Fix parse_item() call.
  ftml/src/parsing/rule/impls/definition_list.rs
Owners: @ammongit

Add AST test for definition list with elements.
  ftml/test/definition-list-elements.html
  ftml/test/definition-list-elements.json
  ftml/test/definition-list-elements.txt
  ftml/test/definition-list.json
Owners: @ammongit

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
