Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

Bring all new tests to working
  web/app/Actions/Fortify/CreateNewUser.php
  web/app/Models/User.php
  web/phpunit.xml
  web/resources/views/auth/register.blade.php
  web/tests/php/Jetstream/AuthenticationTest.php
  web/tests/php/Jetstream/DeleteAccountTest.php
  web/tests/php/Jetstream/PasswordConfirmationTest.php
  web/tests/php/Jetstream/PasswordResetTest.php
  web/tests/php/Jetstream/ProfileInformationTest.php
  web/tests/php/Jetstream/RegistrationTest.php
  web/tests/php/Jetstream/UpdatePasswordTest.php
Owners: @pxdnbluesoul

Enable Email verification
  web/config/fortify.php
  web/tests/php/Jetstream/EmailVerificationTest.php
Owners: @pxdnbluesoul

More fixes around paths and routing
  web/resources/views/layouts/app.blade.php
  web/routes/web.php
Owners: @pxdnbluesoul

Reformat queries for bit casting
  web/app/Models/UserMessage.php
Owners: @pxdnbluesoul

Many small adjustments and removing of legacy authn
  web/lib/ozoneframework/php/core/DB/OzoneSession.php
  web/lib/ozoneframework/php/core/RunData.php
  web/php/Actions/ForumAction.php
  web/php/DB/OzoneSessionBase.php
  web/php/Modules/Account/AccountModule.php
  web/php/Modules/Account/AccountWelcomeModule.php
  web/php/Modules/Account/PM/PMInboxMessageModule.php
  web/php/Modules/Forum/ForumViewThreadModule.php
  web/php/QuickModules/UserLookupQModule.php
  web/php/Utils/WDPermissionManager.php
  web/resources/views/navigation-menu.blade.php
  web/templates/modules/Account/PM/PMInboxModule.tpl
Owners: @pxdnbluesoul

Note how to fix clock skew for MFA
  docs/development.md
Owners: none

Specify stack driver as fallback for mail
  web/config/mail.php
Owners: @pxdnbluesoul

Prep web routes file for Blade cutover
  web/app/Helpers/PageBuilder.php
  web/routes/web.php
Owners: @pxdnbluesoul

Initial PageBuilder file
  web/app/Helpers/PageBuilder.php
Owners: @pxdnbluesoul

Add setTemplate and findModuleClass methods
  web/app/Helpers/PageBuilder.php
Owners: @pxdnbluesoul

Completed init() method
  web/app/Helpers/PageBuilder.php
Owners: @pxdnbluesoul

Further work around profile picture storage in S3
  assets/logo-transparent.min.svg
  web/app/Actions/Fortify/UpdateUserProfileInformation.php
  web/app/Helpers/PageBuilder.php
  web/app/Models/User.php
  web/composer.json
  web/composer.lock
  web/config/jetstream.php
  web/php/Modules/LoginStatusModule.php
  web/web/files--common/images/avatars/default/logo-round.min.svg
  web/web/files--common/images/avatars/default/logo-square.min.svg
  web/web/files--common/images/avatars/default/logo-transparent.min.svg
Owners: @pxdnbluesoul

Further work around default avatars
  web/app/Helpers/helpers.php
  web/app/Models/User.php
  web/php/Modules/LoginStatusModule.php
  web/templates/modules/Account/PM/PMComposeContactsListModule.tpl
Owners: @pxdnbluesoul

avatarLarge() method not needed with new implementation
  web/app/Models/User.php
Owners: @pxdnbluesoul

Update contributing.md branch name
  docs/contributing.md
Owners: none

Fix test compilation.
  ftml/src/data/page_ref.rs
  ftml/src/includes/parse.rs
  ftml/src/test/prop.rs
Owners: @ammongit

Add AST tests for sites in triple links.
  ftml/test/link-triple-site-category.html
  ftml/test/link-triple-site-category.json
  ftml/test/link-triple-site-category.txt
  ftml/test/link-triple-site-name.html
  ftml/test/link-triple-site-name.json
  ftml/test/link-triple-site-name.txt
  ftml/test/link-triple-site-title.html
  ftml/test/link-triple-site-title.json
  ftml/test/link-triple-site-title.txt
  ftml/test/link-triple-site.html
  ftml/test/link-triple-site.json
  ftml/test/link-triple-site.txt
Owners: @ammongit

Remove unused method.
  ftml/src/macros.rs
  ftml/src/tree/link.rs
Owners: @ammongit

Add LinkLocation enum.
  ftml/src/macros.rs
  ftml/src/render/handle.rs
  ftml/src/tree/link.rs
Owners: @ammongit

Fix category stripping with regards to sites.
  ftml/src/data/page_ref.rs
  ftml/src/parsing/rule/impls/link_triple.rs
Owners: @ammongit

Use unit errors in Result instead of Option.
  ftml/src/data/mod.rs
  ftml/src/data/page_ref.rs
  ftml/src/includes/mod.rs
  ftml/src/includes/parse.rs
  ftml/src/parsing/rule/impls/link_triple.rs
Owners: @ammongit

Add LinkLocation tests.
  ftml/src/data/page_ref.rs
  ftml/src/render/handle.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/test/prop.rs
  ftml/src/tree/element.rs
  ftml/src/tree/link.rs
Owners: @ammongit

Add handling for PageRef objects in PHP.
  web/app/Services/Wikitext/FFI/FtmlFfi.php
  web/app/Services/Wikitext/FFI/OutputConversion.php
  web/app/Services/Wikitext/FtmlBackend.php
  web/app/Services/Wikitext/PageRef.php
Owners: @pxdnbluesoul

Add full_url option to normalize_link().
  ftml/src/render/html/element/image.rs
  ftml/src/render/html/element/link.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/link.rs
  ftml/src/url.rs
Owners: @ammongit

Update dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Rename recent-pages -> recent-changes.
  ftml/test/link-triple-category-new-tab.html
  ftml/test/link-triple-category-new-tab.json
  ftml/test/link-triple-category-new-tab.txt
  ftml/test/link-triple-category-spaces.html
  ftml/test/link-triple-category-spaces.json
  ftml/test/link-triple-category-spaces.txt
  ftml/test/link-triple-category.html
  ftml/test/link-triple-category.json
  ftml/test/link-triple-category.txt
Owners: @ammongit

Replace links with LinkLocation.
  ftml/src/data/backlinks.rs
  ftml/src/data/page_ref.rs
  ftml/src/parsing/mod.rs
  ftml/src/parsing/rule/impls/block/blocks/image.rs
  ftml/src/parsing/rule/impls/link_anchor.rs
  ftml/src/parsing/rule/impls/link_single.rs
  ftml/src/parsing/rule/impls/link_triple.rs
  ftml/src/parsing/rule/impls/url.rs
  ftml/src/render/handle.rs
  ftml/src/render/html/context.rs
  ftml/src/render/html/element/image.rs
  ftml/src/render/html/element/link.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/element.rs
  ftml/src/tree/link.rs
  ftml/src/url.rs
Owners: @ammongit

Add proptest for PageRef.
  ftml/src/data/page_ref.rs
Owners: @ammongit

Align expected and actual results.
  ftml/src/test/ast.rs
Owners: @ammongit

Convert backlinks and FFI for PageRef.
  ftml/src/data/page_ref.rs
  ftml/src/ffi/backlinks.rs
  ftml/src/ffi/mod.rs
  ftml/src/ffi/page_ref.rs
  ftml/src/ffi/string.rs
  ftml/src/render/html/context.rs
  ftml/src/render/html/element/image.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/tree/clone.rs
  ftml/src/tree/element.rs
  ftml/src/tree/link.rs
  ftml/src/wasm/render.rs
Owners: @ammongit

Split PageRef into data module.
  ftml/src/data/mod.rs
  ftml/src/data/page_ref.rs
  ftml/src/includes/include_ref.rs
  ftml/src/includes/includer/mod.rs
  ftml/src/includes/mod.rs
  ftml/src/includes/parse.rs
Owners: @ammongit

Update strip_category() to work with site links.
  ftml/src/parsing/rule/impls/link_triple.rs
Owners: @ammongit

Use references in PHP functions.
  web/app/Services/Wikitext/Backlinks.php
  web/app/Services/Wikitext/FFI/FtmlFfi.php
  web/app/Services/Wikitext/FFI/OutputConversion.php
  web/app/Services/Wikitext/FtmlBackend.php
  web/app/Services/Wikitext/TextWikiBackend.php
  web/app/Services/Wikitext/WikitextBackend.php
Owners: @pxdnbluesoul

Always build a ftml_base_css() symbol for FFI.
  ftml/src/ffi/css.rs
  ftml/src/ffi/mod.rs
Owners: @ammongit

Convert PageRef for Backlinks.
  web/app/Services/Wikitext/Backlinks.php
  web/app/Services/Wikitext/FFI/OutputConversion.php
  web/app/Services/Wikitext/PageRef.php
Owners: @pxdnbluesoul

Fix field typo.
  ftml/src/render/html/context.rs
Owners: @ammongit

Run cargo fmt.
  ftml/src/parsing/rule/impls/link_triple.rs
Owners: @ammongit

Update dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Address clippy lints.
  ftml/src/ffi/backlinks.rs
  ftml/src/render/html/context.rs
  ftml/src/tree/link.rs
Owners: @ammongit

Bump ftml version to v1.1.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
