Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

redo lock to fix lezer/common
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

Split builders into generic functions for case insensitivty matching.
  ftml/src/parsing/rule/impls/block/blocks/embed.rs
Owners: @ammongit

Borrow direct link value.
  ftml/src/render/text/elements.rs
Owners: @ammongit

use cascadia mono instead
  client/modules/css/src/assets/fonts/README.md
  client/modules/css/src/assets/fonts/SometypeMono-Bold.woff2
  client/modules/css/src/assets/fonts/SometypeMono-BoldItalic.woff2
  client/modules/css/src/assets/fonts/SometypeMono-Medium.woff2
  client/modules/css/src/assets/fonts/SometypeMono-MediumItalic.woff2
  client/modules/css/src/assets/fonts/SometypeMono-Regular.woff2
  client/modules/css/src/assets/fonts/SometypeMono-RegularItalic.woff2
  client/modules/css/src/assets/fonts/variable/CascadiaMono.woff2
  client/modules/css/src/assets/fonts/variable/CascadiaMonoItalic.woff2
  client/modules/css/src/assets/fonts/variable/RobotoMono-Italic-VariableFont.woff2
  client/modules/css/src/assets/fonts/variable/RobotoMono-VariableFont.woff2
  client/modules/css/src/base/_typography.scss
  client/modules/css/src/font-faces.css
Owners: @Monkatraz, @rossjrw

fix overeager quote replace
  client/modules/css/src/font-faces.css
Owners: @Monkatraz, @rossjrw

Implement HTML rendering for embeds.
  ftml/src/render/html/element/embed.rs
  ftml/src/render/html/embed.rs
Owners: @ammongit

Add NoSuchEmbed warning for missing.
  ftml/src/parsing/exception.rs
  ftml/src/parsing/rule/impls/block/blocks/embed.rs
Owners: @ammongit

Resolve compile warnings.
  ftml/src/parsing/rule/impls/block/blocks/embed.rs
  ftml/src/render/html/element/embed.rs
  ftml/src/render/text/elements.rs
  ftml/src/tree/embed.rs
Owners: @ammongit

Rename YouTube variant to avoid wrong dash.
  ftml/src/parsing/rule/impls/block/blocks/embed.rs
  ftml/src/render/html/element/embed.rs
  ftml/src/tree/embed.rs
Owners: @ammongit

Change enum tag for Embed.
  ftml/src/tree/embed.rs
Owners: @ammongit

Add [[embed]] AST tests.
  ftml/test/embed-fail-missing.html
  ftml/test/embed-fail-missing.json
  ftml/test/embed-fail-missing.txt
  ftml/test/embed-fail-name.html
  ftml/test/embed-fail-name.json
  ftml/test/embed-fail-name.txt
  ftml/test/embed-github-gist.html
  ftml/test/embed-github-gist.json
  ftml/test/embed-github-gist.txt
  ftml/test/embed-gitlab-snippet.html
  ftml/test/embed-gitlab-snippet.json
  ftml/test/embed-gitlab-snippet.txt
  ftml/test/embed-vimeo-size.html
  ftml/test/embed-vimeo-size.json
  ftml/test/embed-vimeo-size.txt
  ftml/test/embed-vimeo.html
  ftml/test/embed-vimeo.json
  ftml/test/embed-vimeo.txt
  ftml/test/embed-youtube-caps.html
  ftml/test/embed-youtube-caps.json
  ftml/test/embed-youtube-caps.txt
  ftml/test/embed-youtube-size.html
  ftml/test/embed-youtube-size.json
  ftml/test/embed-youtube-size.txt
  ftml/test/embed-youtube.html
  ftml/test/embed-youtube.json
  ftml/test/embed-youtube.txt
Owners: @ammongit

Add [[embed]] to config / docs.
  ftml/conf/blocks.toml
  ftml/docs/Blocks.md
Owners: @ammongit

Rename 'Name + Map' -> 'Value + Map'.
  ftml/docs/Blocks.md
Owners: @ammongit

Remove height and width from videos.
  ftml/docs/Blocks.md
  ftml/src/parsing/rule/impls/block/blocks/embed.rs
  ftml/src/render/html/element/embed.rs
  ftml/src/tree/embed.rs
  ftml/test/embed-vimeo-size.html
  ftml/test/embed-vimeo-size.json
  ftml/test/embed-vimeo-size.txt
  ftml/test/embed-vimeo.html
  ftml/test/embed-vimeo.json
  ftml/test/embed-youtube-caps.html
  ftml/test/embed-youtube-caps.json
  ftml/test/embed-youtube-size.html
  ftml/test/embed-youtube-size.json
  ftml/test/embed-youtube-size.txt
  ftml/test/embed-youtube.html
  ftml/test/embed-youtube.json
Owners: @ammongit

Changes how tags are stored in the database (separate table to 'page' table)
  web/database/migrations/2021_09_30_065641_modify_tags_table.php
Owners: @pxdnbluesoul

Update dependencies.
  ftml/Cargo.lock
Owners: @ammongit

Bump ftml version v1.11.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

PageTagsModule.php Table Change / Trichlorofluoromethanified
  web/php/Modules/PageTags/PageTagsModule.php
Owners: @pxdnbluesoul

Use assert! instead of if > panic!.
  ftml/src/text.rs
Owners: @ammongit

Run cargo fmt.
  ftml/src/text.rs
Owners: @ammongit

Add .element() method on HtmlBuilder.
  ftml/src/render/html/builder.rs
Owners: @ammongit

Remove "is" attributes, render custom elements.
  ftml/src/render/html/element/collapsible.rs
  ftml/src/render/html/element/container.rs
  ftml/src/render/html/element/date.rs
  ftml/src/render/html/element/embed.rs
  ftml/src/render/html/element/footnotes.rs
  ftml/src/render/html/element/iframe.rs
  ftml/src/render/html/element/image.rs
  ftml/src/render/html/element/input.rs
  ftml/src/render/html/element/link.rs
  ftml/src/render/html/element/list.rs
  ftml/src/render/html/element/math.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/html/element/table.rs
  ftml/src/render/html/element/tabs.rs
  ftml/src/render/html/element/text.rs
  ftml/src/render/html/element/toc.rs
  ftml/src/render/html/element/user.rs
  ftml/src/render/html/mod.rs
Owners: @ammongit

Bump ftml version to v1.12.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Remove unused button tag.
  ftml/src/render/html/builder.rs
Owners: @ammongit

Changed Criterias to Laravel Queries in PageTagsModule.php + WikiScreen.php, and properly made pages display tags using new column in page table.
  web/php/Modules/PageTags/PageTagsModule.php
  web/php/Screens/Wiki/WikiScreen.php
Owners: @pxdnbluesoul

Code is in a "div", they cannot be in paragraphs.
  ftml/src/tree/element/object.rs
Owners: @ammongit

Update AST tests.
  ftml/test/code-block.html
  ftml/test/code-block.json
  ftml/test/code-empty.html
  ftml/test/code-empty.json
  ftml/test/code-inline-empty.html
  ftml/test/code-inline-empty.json
  ftml/test/code-inline.html
  ftml/test/code-inline.json
  ftml/test/code-language-empty.html
  ftml/test/code-language-empty.json
  ftml/test/code-language-spaces.html
  ftml/test/code-language-spaces.json
  ftml/test/code-language.html
  ftml/test/code-language.json
  ftml/test/code-multiline.html
  ftml/test/code-multiline.json
  ftml/test/code-spaces.html
  ftml/test/code-spaces.json
  ftml/test/code-uppercase.html
  ftml/test/code-uppercase.json
  ftml/test/code.html
  ftml/test/code.json
Owners: @ammongit

Bump ftml version to v1.12.1
  ftml/Cargo.toml
Owners: @ammongit

Bump ftml version to v1.12.2
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

upgrade footnotes
  client/modules/ftml-components/src/base-button.ts
  client/modules/ftml-components/src/base-tooltip-button.ts
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
Owners: @Monkatraz, @rossjrw

add functions for adding elements
  client/modules/ftml-components/src/util.ts
Owners: @Monkatraz, @rossjrw

tooltip button base element
  client/modules/ftml-components/src/base-button.ts
  client/modules/ftml-components/src/base-tooltip-button.ts
Owners: @Monkatraz, @rossjrw

new base button class
  client/modules/ftml-components/src/base-button.ts
Owners: @Monkatraz, @rossjrw

move todo
  client/modules/ftml-components/src/base-tooltip-button.ts
  client/modules/ftml-components/src/components/footnotes/footnotes.ts
Owners: @Monkatraz, @rossjrw

upgrade tabview
  client/modules/ftml-components/src/components/tabview/tabview.ts
Owners: @Monkatraz, @rossjrw

upgrade math
  client/modules/ftml-components/src/components/math/math.ts
Owners: @Monkatraz, @rossjrw

remove old function
  client/modules/ftml-components/src/util.ts
Owners: @Monkatraz, @rossjrw

give code min height
  client/modules/ftml-components/src/theme/_code.scss
Owners: @Monkatraz, @rossjrw

refactor theming for components into its own folder
  client/modules/ftml-components/src/_base.scss
  client/modules/ftml-components/src/components/code/_code.scss
  client/modules/ftml-components/src/components/footnotes/_footnotes.scss
  client/modules/ftml-components/src/components/math/_math.scss
  client/modules/ftml-components/src/components/tabview/_tabview.scss
  client/modules/ftml-components/src/components/user-info/_user-info.scss
  client/modules/ftml-components/src/index.scss
  client/modules/ftml-components/src/theme/_base.scss
  client/modules/ftml-components/src/theme/_code.scss
  client/modules/ftml-components/src/theme/_error.scss
  client/modules/ftml-components/src/theme/_footnotes.scss
  client/modules/ftml-components/src/theme/_math.scss
  client/modules/ftml-components/src/theme/_tabview.scss
  client/modules/ftml-components/src/theme/_tokens.scss
  client/modules/ftml-components/src/theme/_user-info.scss
Owners: @Monkatraz, @rossjrw

doc pass
  client/modules/ftml-components/src/base-button.ts
  client/modules/ftml-components/src/base-tooltip-button.ts
  client/modules/ftml-components/src/components/tabview/tabview.ts
Owners: @Monkatraz, @rossjrw

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
