Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

Change included page names.
  ftml/src/test/includer.rs
  ftml/test/include-messy-category.json
  ftml/test/include-messy-multiline.json
  ftml/test/include-messy-multiple.json
  ftml/test/include-messy-parameters-after.json
  ftml/test/include-messy-parameters-before.json
  ftml/test/include-messy-parameters-both.json
  ftml/test/include-messy-parameters-newlines-after.json
  ftml/test/include-messy-parameters-newlines-before.json
  ftml/test/include-messy-parameters-newlines-both.json
  ftml/test/include-messy-parameters-newlines.json
  ftml/test/include-messy-parameters-whitespace.json
  ftml/test/include-messy-parameters.json
  ftml/test/include-messy-uppercase.json
Owners: @ammongit

Implement VariableContext for Context render objects.
  ftml/src/render/html/context.rs
  ftml/src/render/text/context.rs
Owners: @ammongit

Update variables AST test.
  ftml/test/variables.json
Owners: @ammongit

Fix blockquote typo.
  ftml/src/test/includer.rs
Owners: @ammongit

Add getters for VariableScopes.
  ftml/src/render/html/context.rs
  ftml/src/render/text/context.rs
Owners: @ammongit

Fully clone variable scope.
  ftml/src/render/html/context.rs
  ftml/src/render/text/context.rs
  ftml/src/tree/variables.rs
Owners: @ammongit

Remove unused imports.
  ftml/src/parsing/parser.rs
  ftml/src/tree/element/object.rs
Owners: @ammongit

Add check for multiple arguments, corresponding to Wikidot's behavior.
  ftml/src/includes/parse.rs
Owners: @ammongit

Fix AST test files being invalid.
  ftml/test/include-messy-multiple.json
  ftml/test/include-messy-parameters-after.json
  ftml/test/include-messy-parameters-before.json
  ftml/test/include-messy-parameters-both.json
  ftml/test/include-messy-parameters-newlines-after.json
  ftml/test/include-messy-parameters-newlines-before.json
  ftml/test/include-messy-parameters-newlines-both.json
  ftml/test/include-messy-parameters-newlines.json
  ftml/test/include-messy-parameters-whitespace.json
  ftml/test/include-messy-parameters.json
Owners: @ammongit

Fix duplicate variable check.
  ftml/src/includes/parse.rs
Owners: @ammongit

Add test for multiple include-messy parameters.
  ftml/test/include-messy-parameters-override.html
  ftml/test/include-messy-parameters-override.json
  ftml/test/include-messy-parameters-override.txt
Owners: @ammongit

Remove unnecessary reference.
  ftml/src/includes/parse.rs
Owners: @ammongit

Use HTTPS wiki link.
  ftml/README.md
Owners: @ammongit

Add blurb about CSS prefixes.
  ftml/README.md
Owners: @ammongit

Bump ftml version to v1.6.3
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Use HTTPS non-wikidot link.
  ftml/README.md
Owners: @ammongit

Add top-level wj-body class rule.
  client/modules/ftml-components/src/_base.scss
Owners: @Monkatraz, @rossjrw

Move misc rules to the bottom.
  client/modules/ftml-components/src/_base.scss
Owners: @Monkatraz, @rossjrw

Wrap entire generated contents in <div class="wj-body>".
  ftml/src/render/html/mod.rs
Owners: @ammongit

Use .inner() instead of .contents()
  ftml/src/render/html/mod.rs
Owners: @ammongit

Use generic for ItemRender.
  ftml/src/render/html/builder.rs
  ftml/src/render/html/element/collapsible.rs
  ftml/src/render/html/element/container.rs
  ftml/src/render/html/element/footnotes.rs
  ftml/src/render/html/element/link.rs
  ftml/src/render/html/element/list.rs
  ftml/src/render/html/element/table.rs
  ftml/src/render/html/element/text.rs
  ftml/src/render/html/element/toc.rs
  ftml/src/render/html/element/user.rs
  ftml/src/render/html/mod.rs
  ftml/src/render/html/render.rs
Owners: @ammongit

Add rand crate as a dependency.
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Add Random struct for HtmlContext.
  ftml/Cargo.toml
  ftml/src/render/html/context.rs
  ftml/src/render/html/mod.rs
  ftml/src/render/html/random.rs
Owners: @ammongit

Add test for random IDs.
  ftml/src/render/html/random.rs
Owners: @ammongit

Implement Default for Random instead of method new().
  ftml/src/render/html/context.rs
  ftml/src/render/html/random.rs
Owners: @ammongit

Don't shadow variable 'buffer'.
  ftml/src/render/html/random.rs
Owners: @ammongit

Allow rand to compile for wasm.
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Remove pig latin localization.
  locales/pig.yaml
Owners: none

Perform conversion in tokens() method.
  ftml/src/parsing/exception.rs
  ftml/src/parsing/token/mod.rs
  ftml/src/tokenizer.rs
  ftml/src/wasm/tokenizer.rs
Owners: @ammongit

Convert tokenization to use UTF-16 indices in wasm.
  ftml/src/parsing/exception.rs
  ftml/src/parsing/token/mod.rs
  ftml/src/tokenizer.rs
  ftml/src/wasm/parsing.rs
  ftml/src/wasm/tokenizer.rs
Owners: @ammongit

Start RULE_UNDERSCORE_LINE_BREAK, add to mapping.
  ftml/src/parsing/parser.rs
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/impls/table.rs
  ftml/src/parsing/rule/impls/underscore_line_break.rs
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

Step over tokens and return.
  ftml/src/parsing/rule/impls/underscore_line_break.rs
Owners: @ammongit

Add AST tests for underscore line breaks.
  ftml/test/list-bullet-line-break.html
  ftml/test/list-bullet-line-break.json
  ftml/test/list-bullet-line-break.txt
  ftml/test/list-numbered-line-break.html
  ftml/test/list-numbered-line-break.json
  ftml/test/list-numbered-line-break.txt
  ftml/test/table-simple-line.json
  ftml/test/underscore-line-break-fail.html
  ftml/test/underscore-line-break-fail.json
  ftml/test/underscore-line-break-fail.txt
  ftml/test/underscore-line-break-line.html
  ftml/test/underscore-line-break-line.json
  ftml/test/underscore-line-break-line.txt
  ftml/test/underscore-line-break-multiple.html
  ftml/test/underscore-line-break-multiple.json
  ftml/test/underscore-line-break-multiple.txt
  ftml/test/underscore-line-break.html
  ftml/test/underscore-line-break.json
  ftml/test/underscore-line-break.txt
Owners: @ammongit

Add styling for wiki-note default class.
  client/modules/ftml-components/src/_default.scss
  client/modules/ftml-components/src/index.scss
Owners: @Monkatraz, @rossjrw

Add definition list HTML tags.
  ftml/src/render/html/builder.rs
Owners: @ammongit

Add Element::DefinitionList.
  ftml/src/tree/element/object.rs
Owners: @ammongit

Implement definition list rendering.
  ftml/src/render/html/element/definition_list.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/text/elements.rs
Owners: @ammongit

Flatten item list for serialization.
  ftml/src/tree/element/object.rs
Owners: @ammongit

Add Token::Colon.
  ftml/src/parsing/lexer.pest
  ftml/src/parsing/rule/mapping.rs
  ftml/src/parsing/token/mod.rs
Owners: @ammongit

Add RULE_DEFINITION_LIST stub.
  ftml/src/parsing/rule/impls/definition_list.rs
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
