Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

add missing info for new FTML blocks
  locales/en.yaml
Owners: none

add exclude-name support
  client/modules/cm-lang-ftml/src/data/types.d.ts
  client/modules/cm-lang-ftml/src/tips/BlockTip.svelte
  client/modules/cm-lang-ftml/src/util.ts
Owners: @Monkatraz, @rossjrw

update codemirror deps
  client/.pnpmfile.cjs
  client/modules/codemirror/package.json
  client/package.json
Owners: @Monkatraz, @rossjrw

update lock
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

update list example
  locales/en.yaml
Owners: none

fix Stephen King Car Crash Typo
  locales/en.yaml
Owners: none

update deps
  client/package.json
  client/pnpm-lock.yaml
Owners: @Monkatraz, @rossjrw

add missing pig entries
  locales/pig.yaml
Owners: none

fix indent
  locales/pig.yaml
Owners: none

Fix block head type for iframe.
  ftml/conf/blocks.toml
Owners: @ammongit

fix type imports
  client/misc/types/util.d.ts
  client/modules/cm-tarnation/src/delegator.ts
  client/modules/cm-tarnation/src/language.ts
  client/modules/cm-tarnation/src/parser/parser.ts
  client/modules/cm-tarnation/src/tokenizer/tokenizer.ts
  client/tsconfig.json
Owners: @Monkatraz, @rossjrw

initial switch to new grammar
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
  client/modules/cm-tarnation/src/grammar/action.ts
  client/modules/cm-tarnation/src/grammar/definition.d.ts
  client/modules/cm-tarnation/src/grammar/definition.ts
  client/modules/cm-tarnation/src/grammar/demangler.ts
  client/modules/cm-tarnation/src/grammar/grammar.ts
  client/modules/cm-tarnation/src/grammar/helpers.ts
  client/modules/cm-tarnation/src/grammar/matched.ts
  client/modules/cm-tarnation/src/grammar/matcher.ts
  client/modules/cm-tarnation/src/grammar/matchers/lookup.ts
  client/modules/cm-tarnation/src/grammar/matchers/regexp.ts
  client/modules/cm-tarnation/src/grammar/matchers/string.ts
  client/modules/cm-tarnation/src/grammar/node.ts
  client/modules/cm-tarnation/src/grammar/repository.ts
  client/modules/cm-tarnation/src/grammar/rule.ts
  client/modules/cm-tarnation/src/grammar/rules/lookup.ts
  client/modules/cm-tarnation/src/grammar/rules/pattern.ts
  client/modules/cm-tarnation/src/grammar/rules/rule.ts
  client/modules/cm-tarnation/src/grammar/rules/state.ts
  client/modules/cm-tarnation/src/grammar/state.ts
  client/modules/cm-tarnation/src/grammar/substate.ts
  client/modules/cm-tarnation/src/grammar/types.ts
  client/modules/cm-tarnation/src/index.ts
Owners: @Monkatraz, @rossjrw

update deps
  client/modules/cm-espells/package.json
  client/modules/cm-lang-ftml/package.json
  client/modules/codemirror/package.json
  client/modules/components/package.json
  client/modules/sheaf/package.json
  client/modules/state/package.json
  client/package.json
  client/pnpm-lock.yaml
  client/web/dev-sandbox/package.json
Owners: @Monkatraz, @rossjrw

get it barely working
  client/modules/cm-lang-ftml/src/grammars/ftml.ts
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
  client/modules/cm-lang-ftml/src/index.ts
  client/modules/cm-lang-ftml/src/langs.ts
  client/modules/cm-tarnation/src/grammar/grammar.ts
  client/modules/cm-tarnation/src/grammar/repository.ts
  client/modules/cm-tarnation/src/grammar/rules/lookup.ts
  client/modules/cm-tarnation/src/grammar/rules/pattern.ts
  client/modules/cm-tarnation/src/grammar/rules/rule.ts
  client/modules/cm-tarnation/src/grammar/rules/state.ts
  client/modules/cm-tarnation/src/host.ts
  client/modules/cm-tarnation/src/index.ts
  client/modules/cm-tarnation/src/language.ts
  client/modules/cm-tarnation/src/tokenizer/buffer.ts
  client/modules/cm-tarnation/src/tokenizer/chunk.ts
  client/modules/cm-tarnation/src/tokenizer/context.ts
  client/modules/cm-tarnation/src/tokenizer/tokenizer.ts
  client/modules/cm-tarnation/src/types.d.ts
  client/tsconfig.json
Owners: @Monkatraz, @rossjrw

preserve context state
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
  client/modules/cm-tarnation/src/tokenizer/tokenizer.ts
Owners: @Monkatraz, @rossjrw

remove template idea, not worth the complexity
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
  client/modules/cm-tarnation/src/grammar/definition.ts
  client/modules/cm-tarnation/src/grammar/repository.ts
  client/modules/cm-tarnation/src/grammar/rules/rule.ts
Owners: @Monkatraz, @rossjrw

fix lookbehind
  client/modules/cm-tarnation/src/grammar/helpers.ts
Owners: @Monkatraz, @rossjrw

add in languageData from grammar
  client/modules/cm-lang-ftml/src/grammars/ftml.ts
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
  client/modules/cm-tarnation/src/grammar/grammar.ts
  client/modules/cm-tarnation/src/language.ts
Owners: @Monkatraz, @rossjrw

add loose state matching
  client/modules/cm-tarnation/src/grammar/definition.ts
  client/modules/cm-tarnation/src/grammar/rules/state.ts
Owners: @Monkatraz, @rossjrw

use repo inside method
  client/modules/cm-tarnation/src/grammar/rules/state.ts
Owners: @Monkatraz, @rossjrw

document matched
  client/modules/cm-tarnation/src/grammar/matched.ts
Owners: @Monkatraz, @rossjrw

check end rule first
  client/modules/cm-tarnation/src/grammar/grammar.ts
Owners: @Monkatraz, @rossjrw

add support for rematch
  client/modules/cm-tarnation/src/grammar/matched.ts
  client/modules/cm-tarnation/src/grammar/rules/rule.ts
Owners: @Monkatraz, @rossjrw

swap so I don't have to make parser changes
  client/modules/cm-tarnation/src/grammar/types.ts
Owners: @Monkatraz, @rossjrw

check for missing repository rules
  client/modules/cm-tarnation/src/grammar/grammar.ts
  client/modules/cm-tarnation/src/grammar/repository.ts
Owners: @Monkatraz, @rossjrw

used cloned state with default node
  client/modules/cm-tarnation/src/grammar/grammar.ts
Owners: @Monkatraz, @rossjrw

more ftml grammar
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
Owners: @Monkatraz, @rossjrw

remove old stuff
  client/modules/cm-tarnation/src/node-map.ts
  client/modules/cm-tarnation/src/tokenizer/index.ts
  client/modules/cm-tarnation/src/tokenizer/stack.ts
  client/modules/cm-tarnation/src/types.d.ts
Owners: @Monkatraz, @rossjrw

fixed reused nodes not working right with rules/states
  client/modules/cm-tarnation/src/grammar/repository.ts
Owners: @Monkatraz, @rossjrw

fix one or more bug again
  client/modules/cm-tarnation/src/grammar/rules/chain.ts
Owners: @Monkatraz, @rossjrw

fix chain one or more bug
  client/modules/cm-tarnation/src/grammar/rules/chain.ts
Owners: @Monkatraz, @rossjrw

remove rootNode thing
  client/modules/cm-tarnation/src/grammar/grammar.ts
Owners: @Monkatraz, @rossjrw

add repeating alternatives explicitly
  client/modules/cm-lang-ftml/src/grammars/ftml.yaml
  client/modules/cm-tarnation/src/grammar/rules/chain.ts
Owners: @Monkatraz, @rossjrw

added length property to matched
  client/modules/cm-tarnation/src/grammar/grammar.ts
  client/modules/cm-tarnation/src/grammar/matched.ts
  client/modules/cm-tarnation/src/grammar/rules/chain.ts
  client/modules/cm-tarnation/src/grammar/rules/rule.ts
  client/modules/cm-tarnation/src/tokenizer/tokenizer.ts
Owners: @Monkatraz, @rossjrw

fix missing break
  client/modules/cm-tarnation/src/grammar/rules/chain.ts
Owners: @Monkatraz, @rossjrw

get repeating alternative chains to work
  client/modules/cm-tarnation/src/grammar/rules/chain.ts
Owners: @Monkatraz, @rossjrw

pass variables from language constructor
  client/modules/cm-tarnation/src/language.ts
  client/modules/cm-tarnation/src/types.d.ts
Owners: @Monkatraz, @rossjrw

added matchall function
  client/modules/cm-tarnation/src/grammar/grammar.ts
Owners: @Monkatraz, @rossjrw

fix node emit bug
  client/modules/cm-tarnation/src/grammar/node.ts
Owners: @Monkatraz, @rossjrw

added skip pattern for chain
  client/modules/cm-tarnation/src/grammar/definition.ts
  client/modules/cm-tarnation/src/grammar/rules/chain.ts
  client/modules/cm-tarnation/src/grammar/rules/rule.ts
Owners: @Monkatraz, @rossjrw
