Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

Fix issue with untagged page failing to render
  web/resources/views/layouts/legacy.blade.php
Owners: @pxdnbluesoul

Use actual page for test, add missing var causing redirect fail on edit
  web/routes/web.php
Owners: @pxdnbluesoul

Generate RunData from Laravel and pass to Blade (#353)
  web/app/Helpers/LegacyTools.php
  web/lib/ozoneframework/php/core/ModuleProcessor.php
  web/php/Screens/Wiki/WikiScreen.php
  web/resources/views/layouts/legacy.blade.php
  web/resources/views/test/test.blade.php
  web/routes/web.php
Owners: @pxdnbluesoul

Add tag cloud, fix tag conflict issue.
  tags-test/tags_test.py
Owners: none

Add per-iteration to timing function.
  tags-test/tags_test.py
Owners: none

Refresh tag list in between checks.
  tags-test/tags_test.py
Owners: none

Bump up pages and operations.
  tags-test/tags_test.py
Owners: none

Add commas to page / operation count.
  tags-test/tags_test.py
Owners: none

Add tag index for option A.
  tags-test/tags_test.py
Owners: none

Don't re-create index if present.
  tags-test/tags_test.py
Owners: none

Add query plans to tags-test.
  tags-test/tags_test.py
Owners: none

Indent query plan.
  tags-test/tags_test.py
Owners: none

Switch operations back.
  tags-test/tags_test.py
Owners: none

Run ftml config check on any block update.
  .github/workflows/ftml-config.yaml
Owners: @ammongit

Update rustc version.
  ftml/README.md
Owners: @ammongit

Update dependencies.
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Add ul, ol, and li block to configuration.
  ftml/conf/blocks.toml
Owners: @ammongit

Add pig latin documentation for blocks.
  locales/pig.yaml
Owners: none

Add lists of fields that are mismatched.
  locales/messages/__main__.py
  locales/messages/schema.py
Owners: none

Add missing sheaf spellcheck messages.
  locales/pig.yaml
Owners: none

Use proper form for CSS initialism.
  locales/pig.yaml
Owners: none

Use JSON dump to escape strings.
  locales/messages/gettext.py
Owners: none

Move pylintrc file to top-level messages directory.
  .github/workflows/locales.yaml
  locales/.pylintrc
Owners: @ammongit

Address lint.
  locales/messages/schema.py
Owners: none

Add pylintrc to ignored paths.
  locales/messages/path_loader.py
Owners: none

Add en_US as alias for en.
  locales/en_US.yaml
Owners: none

Add Interactions model and table
  web/app/Helpers/InteractionType.php
  web/app/Http/Controllers/InteractionController.php
  web/app/Models/Interaction.php
  web/database/factories/InteractionFactory.php
  web/database/migrations/2021_07_30_231009_create_interactions_table.php
  web/database/seeders/InteractionSeeder.php
Owners: @pxdnbluesoul

Fix missing karma fields in Seeder
  web/database/seeders/UserSeeder.php
Owners: @pxdnbluesoul

Fix regression in seeder files due to missing page
  web/database/seeders/LegacySeeder.php
  web/database/seeders/PHPUnitLegacySeeder.php
Owners: @pxdnbluesoul

Add user following methods and tests
  web/app/Models/User.php
  web/tests/php/Feature/UserFollowUserTest.php
Owners: @pxdnbluesoul

Use new HasInteractions Trait
  web/app/Models/User.php
  web/app/Traits/HasInteractions.php
Owners: @pxdnbluesoul

Further work around Contacts
  web/app/Helpers/InteractionType.php
  web/app/Models/Interaction.php
  web/database/migrations/2021_08_03_223352_drop_contact_table.php
  web/php/DB/Contact.php
Owners: @pxdnbluesoul

Add contact methods
  web/app/Models/User.php
Owners: @pxdnbluesoul

Fix warn in action class
  web/lib/ozoneframework/php/core/Action.php
Owners: @pxdnbluesoul

ContactsAction refactor
  web/app/Models/User.php
  web/config/wikijump.php
  web/php/Actions/ContactsAction.php
Owners: @pxdnbluesoul

Remove Contact class family
  web/php/DB/Contact.php
  web/php/DB/ContactBase.php
  web/php/DB/ContactPeer.php
  web/php/DB/ContactPeerBase.php
Owners: @pxdnbluesoul

Add avatar methods
  web/app/Models/User.php
Owners: @pxdnbluesoul

Replace Contact class method calls with User calls
  web/php/Actions/MembershipApplyAction.php
  web/php/Modules/Account/Contacts/AccountBackContactsModule.php
  web/php/Modules/Account/Contacts/AccountContactsModule.php
  web/php/Modules/Account/PM/PMComposeContactsListModule.php
  web/php/Modules/UserInfo/UserAddToContactsModule.php
  web/php/Utils/KarmaRules/NumberContacts.php
  web/php/Utils/WDPermissionManager.php
  web/templates/modules/Account/Contacts/AccountBackContactsModule.tpl
  web/templates/modules/Account/Contacts/AccountContactsModule.tpl
  web/templates/modules/Account/PM/PMComposeContactsListModule.tpl
Owners: @pxdnbluesoul

Feature test
  web/tests/php/Feature/UserContactUserTest.php
Owners: @pxdnbluesoul

New edge handling around requests
  web/app/Models/User.php
Owners: @pxdnbluesoul
