Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

Mark page as potentially nullable.
  web/app/Helpers/LegacyTools.php
Owners: @pxdnbluesoul

Record pageParameters in output.
  web/app/Helpers/LegacyTools.php
  web/routes/web.php
Owners: @pxdnbluesoul

Add pageParameters to templated comment too.
  web/routes/web.php
Owners: @pxdnbluesoul

Add normalization redirects for old and new routing.
  web/app/Helpers/LegacyTools.php
  web/php/Screens/Wiki/WikiScreen.php
Owners: @pxdnbluesoul

Modularize normal URL redirection.
  web/app/Helpers/LegacyTools.php
  web/php/Screens/Wiki/WikiScreen.php
Owners: @pxdnbluesoul

Remove weird old newline.
  web/php/Screens/Wiki/WikiScreen.php
Owners: @pxdnbluesoul

Make LegacyTools static-only.
  web/app/Helpers/LegacyTools.php
  web/routes/web.php
Owners: @pxdnbluesoul

Fix dumb mistakes in redirector.
  web/app/Helpers/LegacyTools.php
Owners: @pxdnbluesoul

Properly fetch boolean value from parameters.
  web/lib/ozoneframework/php/core/ParameterList.php
  web/php/Modules/Wiki/Redirect/PageRedirectModule.php
Owners: @pxdnbluesoul

Replace confusing !$noRedirect logic.
  web/php/Modules/Wiki/Redirect/PageRedirectModule.php
Owners: @pxdnbluesoul

Add comment note.
  web/php/Modules/Wiki/Redirect/PageRedirectModule.php
Owners: @pxdnbluesoul

Add type hints.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Use LegacyTools method for preserving page parameters.
  web/php/Modules/Wiki/Redirect/PageRedirectModule.php
Owners: @pxdnbluesoul

Add typing to ParameterList.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Fix variable name typo.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Add convertValue() helper method.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Convert tabs to spaces.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Use null coalesce instead of isset().
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Rename $u -> $pair.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Use wikidot-path style parameter parsing.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Fix key/value doubling up.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Use helper function for bool conversion.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Use null coalesce notation.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Change null check.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Appropriately check for parameter value in redirect module.
  web/php/Modules/Wiki/Redirect/PageRedirectModule.php
Owners: @pxdnbluesoul

Remove extra period.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Remove old bool convert method.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Add type to method.
  web/lib/ozoneframework/php/core/ParameterList.php
Owners: @pxdnbluesoul

Fix null value check in PageRedirectModule.php
  web/php/Modules/Wiki/Redirect/PageRedirectModule.php
Owners: @pxdnbluesoul

Remove noredirect helper method.
  web/php/Modules/Wiki/Redirect/PageRedirectModule.php
Owners: @pxdnbluesoul

Use correct parameter value method.
  web/php/Modules/Wiki/Redirect/PageRedirectModule.php
Owners: @pxdnbluesoul

Tweak redirect module message.
  web/templates/modules/Wiki/Redirect/PageRedirectModule.tpl
Owners: @pxdnbluesoul

Use code.wj-monospace for monospace container.
  ftml/misc/ftml-base.css
  ftml/src/tree/container.rs
Owners: @ammongit

Update AST tests.
  ftml/test/bold-nested.html
  ftml/test/monospace-block-alias-1.html
  ftml/test/monospace-block-alias-2.html
  ftml/test/monospace-block-empty.html
  ftml/test/monospace-block-italics.html
  ftml/test/monospace-block-paragraph.html
  ftml/test/monospace-block.html
  ftml/test/monospace.html
Owners: @ammongit

Update blocks.toml with new element and class.
  ftml/conf/blocks.toml
Owners: @ammongit

Update classes in blocks.toml
  ftml/conf/blocks.toml
Owners: @ammongit

Create dependabot.yaml action file.
  .github/dependabot.yaml
Owners: none

Add missing quote.
  .github/dependabot.yaml
Owners: none

Check to ensure container is a paragraph before unwrapping.
  ftml/src/parsing/rule/impls/block/blocks/footnote.rs
Owners: @ammongit

Add footnoteblock to blocks.toml
  ftml/conf/blocks.toml
Owners: @ammongit
