Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul

Same deal as other modules; duplicate code for different functions, it seems. /shrug
  web/php/Modules/Wiki/HotTags/GlobalHotTagsModule.php
  web/php/Modules/Wiki/HotTags/PagesListByTagModule.php
Owners: @pxdnbluesoul

Remove a use in WikiScreen.php.
  web/php/Screens/Wiki/WikiScreen.php
Owners: @pxdnbluesoul

Got rid of the nasty error when you try to save the tags by giving up and trying to solve something else, accidentally solving the original problem.
  web/php/Utils/Indexer.php
Owners: @pxdnbluesoul

Accept fixing static folder path
  client/modules/api/src/asset.ts
Owners: @Monkatraz, @rossjrw

I'm removing this because ais nearly had a heart attack in the voice chat when she saw this. Unrelated to tags, I think.
  web/php/Utils/Indexer.php
Owners: @pxdnbluesoul

Add check for empty tag input, properly store it in database.
  web/php/Actions/WikiPageAction.php
Owners: @pxdnbluesoul

Changed outdated comment.
  web/php/Actions/WikiPageAction.php
Owners: @pxdnbluesoul

Update web/database/migrations/2021_09_30_065641_modify_tags_table.php
  web/database/migrations/2021_09_30_065641_modify_tags_table.php
Owners: @pxdnbluesoul

Removing single getTagsAsArray, replacing it with analagous function.
  web/lib/text_wiki/Text/Wiki/Parse/Default/Iftags.php
Owners: @pxdnbluesoul

Changing check to be more clear in intent.
  web/php/Screens/Wiki/WikiScreen.php
Owners: @pxdnbluesoul

Add down functions to migration.
  web/database/migrations/2021_09_30_065641_modify_tags_table.php
Owners: @pxdnbluesoul

update misc references to client
  .github/codecov.yml
  .github/dependabot.yaml
  .github/workflows/client.yaml
  docs/frontend-development.md
  web/modules/ftml-wasm/package.json
  web/scripts/vite-pack.js
  web/tsconfig.legacy.json
Owners: @Monkatraz, @rossjrw

update scripts
  web/package.json
Owners: none

ignore bad folders
  web/tsconfig.json
Owners: none

fix typo
  web/tsconfig.json
Owners: none

update readme for web
  web/README.md
Owners: none

update deps
  web/modules/codemirror/package.json
  web/modules/components/package.json
  web/package.json
  web/pnpm-lock.yaml
Owners: none

ignore web/web
  web/.eslintrc.yaml
  web/.stylelintrc.yaml
  web/tsconfig.json
Owners: none

remove pointless editorconfig
  web/.editorconfig
Owners: none
