Repository scpwiki/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @ammongit, @Monkatraz, @rossjrw, @pxdnbluesoul

Add Element::ClearFloat to AST proptest.
  ftml/src/test/prop.rs
Owners: @ammongit

Bump ftml version to v1.3.0
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Add PageInfo to Parser.
  ftml/src/ffi/exports.rs
  ftml/src/parsing/mod.rs
  ftml/src/parsing/parser.rs
Owners: @ammongit

Split out wasm PageInfo, add it to parse().
  ftml/src/wasm/mod.rs
  ftml/src/wasm/page_info.rs
  ftml/src/wasm/parsing.rs
  ftml/src/wasm/render.rs
Owners: @ammongit

Provide real PageInfo in push_table_of_contents_entry().
  ftml/src/parsing/parser.rs
Owners: @ammongit

Fix tests.
  ftml/src/parsing/check_step.rs
  ftml/src/parsing/parser.rs
  ftml/src/test/ast.rs
  ftml/src/test/large.rs
Owners: @ammongit

Bump ftml version to v1.3.1
  ftml/Cargo.lock
  ftml/Cargo.toml
Owners: @ammongit

Add more forbidden names.
  web/php/Config/ForbiddenNames.php
Owners: @pxdnbluesoul

Update test-js workflow.
  .github/workflows/test-js.yaml
Owners: @rossjrw

Refine javascript.yaml workflow triggers.
  .github/workflows/javascript.yaml
Owners: none

Update ForbiddenNames.php
  web/php/Config/ForbiddenNames.php
Owners: @pxdnbluesoul

Update email pattern in lexer.
  ftml/src/parsing/lexer.pest
Owners: @ammongit

Fix pattern.
  ftml/src/parsing/lexer.pest
Owners: @ammongit

Fixes to webpack and Laravel Mix
  web/composer.lock
  web/package.json
  web/web/.gitignore
  web/web/files--common/theme/base/css/style.css
  web/web/files--common/theme/shim.css
  web/webpack.mix.js
Owners: none

Ship error logs to STDERR as Json
  web/.env.example
  web/config/logging.php
Owners: @pxdnbluesoul

Revert branch changes to only use develop
  .github/workflows/docker-build-push-nginx.dev.yaml
  .github/workflows/docker-build-push-php.dev.yaml
  .github/workflows/docker-build-push-postgres.dev.yaml
  install/aws/dev/docker/nginx/Dockerfile
Owners: @pxdnbluesoul

Fix compilation for tests.
  ftml/src/render/html/attributes.rs
  ftml/src/render/html/element/mod.rs
Owners: @ammongit

Remove unused RULE_TODO.
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/impls/todo.rs
Owners: @ammongit

Fix image class concatenation.
  ftml/src/render/html/element/image.rs
Owners: @ammongit

Address clippy lints.
  ftml/src/render/html/element/container.rs
  ftml/src/render/html/element/table.rs
Owners: @ammongit

Add RULE_TABLE to mapping.
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/mapping.rs
Owners: @ammongit

Actuall render merged attributes.
  ftml/src/render/html/builder.rs
Owners: @ammongit

Fix attribute map type issues.
  ftml/src/render/html/builder.rs
Owners: @ammongit

Add stubbed RULE_TABLE.
  ftml/src/parsing/rule/impls/mod.rs
  ftml/src/parsing/rule/impls/table.rs
Owners: @ammongit

Add Element::Table.
  ftml/src/tree/element.rs
  ftml/src/tree/mod.rs
  ftml/src/tree/table.rs
Owners: @ammongit

Add alignment to TableCell.
  ftml/src/render/html/element/table.rs
  ftml/src/tree/table.rs
Owners: @ammongit

Add new tokens for table alignment.
  ftml/src/parsing/lexer.pest
  ftml/src/parsing/rule/mapping.rs
  ftml/src/parsing/token/mod.rs
Owners: @ammongit

Add text rendering for tables.
  ftml/src/render/text/elements.rs
  ftml/src/tree/table.rs
Owners: @ammongit

Add missing attributes from tables.
  ftml/src/render/html/element/table.rs
Owners: @ammongit

Add table rendering stubs.
  ftml/src/render/html/element/mod.rs
  ftml/src/render/html/element/table.rs
  ftml/src/render/text/elements.rs
Owners: @ammongit

Add initial remake of attr!()
  ftml/src/render/html/attributes.rs
  ftml/src/render/html/builder.rs
  ftml/src/render/html/element/collapsible.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/html/element/table.rs
  ftml/src/render/html/mod.rs
Owners: @ammongit

Use new attr!() macro in source.
  ftml/src/render/html/attributes.rs
  ftml/src/render/html/element/collapsible.rs
  ftml/src/render/html/element/container.rs
  ftml/src/render/html/element/iframe.rs
  ftml/src/render/html/element/image.rs
  ftml/src/render/html/element/input.rs
  ftml/src/render/html/element/link.rs
  ftml/src/render/html/element/list.rs
  ftml/src/render/html/element/mod.rs
  ftml/src/render/html/element/table.rs
  ftml/src/render/html/element/table_of_contents.rs
  ftml/src/render/html/element/text.rs
  ftml/src/render/html/element/user.rs
Owners: @ammongit

Fix compilation.
  ftml/src/render/html/element/link.rs
Owners: @ammongit

Fix macro for empty values.
  ftml/src/render/html/attributes.rs
  ftml/src/render/html/builder.rs
Owners: @ammongit

Add HTML rendering for table.
  ftml/src/render/html/builder.rs
  ftml/src/render/html/element/table.rs
Owners: @ammongit

Fix borrow issue.
  ftml/src/render/html/element/table.rs
Owners: @ammongit

Update AST tests.
  ftml/test/collapsible-empty.html
  ftml/test/collapsible-folded-no.html
  ftml/test/collapsible-folded-yes.html
  ftml/test/collapsible-inline.html
  ftml/test/collapsible-location-both.html
  ftml/test/collapsible-location-bottom.html
  ftml/test/collapsible-location-neither.html
  ftml/test/collapsible-location-top.html
  ftml/test/collapsible-multiline.html
  ftml/test/collapsible-nested-deep.html
  ftml/test/collapsible-nested.html
  ftml/test/collapsible-styling.html
  ftml/test/collapsible-text.html
  ftml/test/collapsible-uppercase.html
  ftml/test/collapsible.html
  ftml/test/hidden-style.html
  ftml/test/image-attributes.html
  ftml/test/image-center.html
  ftml/test/image-external.html
  ftml/test/image-file1.html
  ftml/test/image-file2-slash.html
  ftml/test/image-file2.html
  ftml/test/image-file3-slash.html
  ftml/test/image-file3.html
  ftml/test/image-float-left.html
  ftml/test/image-float-right.html
  ftml/test/image-left.html
  ftml/test/image-link-anchor.html
  ftml/test/image-link-page.html
  ftml/test/image-link.html
  ftml/test/image-right.html
  ftml/test/image.html
  ftml/test/toc-attributes.html
Owners: @ammongit

Initial implementation of simple table parse rule.
  ftml/src/parsing/rule/impls/table.rs
Owners: @ammongit

Reorder fields.
  ftml/src/tree/table.rs
Owners: @ammongit

Ignore leading and trailing whitespace in a table cell.
  ftml/src/parsing/rule/impls/table.rs
Owners: @ammongit

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @ammongit
ftml                                @ammongit
web/app/Services/Wikitext           @ammongit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
client                              @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @ammongit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @pxdnbluesoul
/install/                           @pxdnbluesoul

# PHP and related
*.php                               @pxdnbluesoul
/web/composer.json                  @pxdnbluesoul
/web/phpunit.xml                    @pxdnbluesoul
/web/.env.example                   @pxdnbluesoul

# Smarty
*.tpl                               @pxdnbluesoul
